/// Various ways to do line clamping
/// @author jhogue
///
/// @param {String} Max-width value
///
/// @example scss - Usage
///    .element {
///      @include single-line-clamp(em(240));
///    }
///
/// @example css - Output
///    .element {
///      max-width: 15em;
///      overflow: hidden;
///      text-overflow: ellipsis;
///      white-space: nowrap;
///    }
///
@mixin single-line-clamp($width) {
  max-width: $width;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
