/// Deep getter to go into the $type-sizes array
/// @author jhogue
///
/// Now refactored to use CSS var()
///
/// @require {map} $type-sizes
///
/// @require {function} type-of
/// @require {function} map-get
///
/// @param {String} Breakpoint map key name
/// @param {String} Element name [base]
///
/// @example scss - Usage
///    font-size: one-fluid-size('h1', x-large);
///
/// @example css - Output
///    font-size: calc(var(--ts__x-large__h1) * 1rem);
///
@function one-fluid-size($elem, $break: base) {
  @if type-of($type-sizes) != 'map' {
    @error 'A list named $type-sizes is undefined. [Function one-type-size()]';
  }
  @if type-of(map-get($type-sizes, $break)) != 'map' {
    @error 'Can’t reach into the $type-sizes map for another map. [Function one-type-size()]';
  }

  @return calc(var(--ts__#{$break}__#{$elem}) * 1rem);
}


/// fluid-type-sizes() will output all sizes for a single typographic element
/// @author jhogue
///
/// Now refactored to use CSS var()
///
/// @require {map} $type-sizes
/// @require {map} $zpp-breakpoints
///
/// @require {function} type-of
/// @require {function} map-keys
/// @require {function} map-has-key
/// @require {function} nth
/// @require {function} length
/// @require {function} strip-unit (custom)
/// @require {function} rem (custom)
///
/// @param {String} Element name [base]
///
/// @example scss - Usage
///   @include fluid-type-sizes(h1);
///
/// @example css - Output
///   h1 {
///     font-size: var(--ts__base__h1);
///   }
///
///   @media (min-width: 27.5rem) {
///     h1 {
///       font-size: calc(var(--ts__base__h1) + (var(--ts__x-large__h1) - var(--ts__base__h1)) * ((100vw - 27.5rem) / 47.5));
///     }
///   }
///
///   @media (min-width: 75rem) {
///     h1 {
///       font-size: var(--ts__x-large__h1);
///     }
///   }
///
@mixin fluid-type-sizes($elem: 'base', $bootstrap: true) {
  @if type-of($type-sizes) != 'map' {
    @error 'A sass map named $type-sizes is undefined. [Mixin one-element-size()]';
  }

  // List only the keys from the $type-sizes list.
  // Expects only two. Only uses the first and last
  $keys: map-keys($type-sizes);
  $first-key: nth($keys, 1);
  $last-key: nth($keys, length($keys));

  // Type size values are stored as CSS variables
  $min-value: var(--ts__#{$first-key}__#{$elem});
  $max-value: var(--ts__#{$last-key}__#{$elem});

  // Use the keys to grab the corresponding breakpoints
  // Check for existence and naming convention first
  @if type-of($zpp-breakpoints) != 'map' {
    @error 'A list named $zpp-breakpoints is undefined. [Mixin one-element-size()]';
  }
  @if not map-has-key($zpp-breakpoints, $first-key) {
    @error 'Your $type-sizes map key "#{$first-key}" does not have a corresponding key in $zpp-breakpoints. [Mixin one-element-size()]';
  }
  @if not map-has-key($zpp-breakpoints, $last-key) {
    @error 'Your $type-sizes map key "#{$last-key}" does not have a corresponding key in $zpp-breakpoints. [Mixin one-element-size()]';
  }

  // We need the value to be expressed as REM but unitless
  $min-vw: strip-unit(rem(map-get($zpp-breakpoints, $first-key)));
  $max-vw: strip-unit(rem(map-get($zpp-breakpoints, $last-key)));
  $unit: 1rem;

  // Finally, use this mixin to set the base size and max size within the viewport range

  // If this is bootstrap, don't output the first default type size
  @if ($bootstrap == false) {
    font-size: calc(#{$min-value} * #{$unit});
  }

  // If both are the same value, don't output the media queries
  @if map-get(map-get($type-sizes, $first-key), $elem) != map-get(map-get($type-sizes, $last-key), $elem) {

    // Now declare the creamy, fluid center using a media query at the min-width
    @media (min-width: #{$min-vw * $unit}) {
      font-size: calc((#{$min-value} * #{$unit}) + (#{$max-value} - #{$min-value}) * ((100vw - #{$min-vw * $unit}) / #{$max-vw - $min-vw}));
    }

    // Finally, stop the crazy fluidity and set the max value at the max viewport width
    @media (min-width: #{$max-vw * $unit}) {
      font-size: calc(#{$max-value} * #{$unit});
    }
  }
}
