/// Apply a proper focus ring with an option for the color
/// focus-ring() =
/// Set a box shadow, outline, and outline offset for focus.
/// Use positioning to ensure that the "ring" is on top of elements
/// @author J. Hogue @jhogue
///
/// @require {variables} $focus-color, $zindex-focus-outline
///
/// @param {List} $properties
///   List one or multiple properties to assign values to
///
/// @param {String} $color
/// @param {boolean} $position
/// @param {String} $offset
///
/// @example scss - Usage
///  // .element {
///  //   &:focus {
///  //     @include focus-ring($focus-ring-color);
///  //   }
///  // }
///
/// @example css - Output
///  // .element:focus {
///  //   box-shadow: none !important;
///  //   position: relative;
///  //   outline: 0.125rem solid #ccc;
///  //   outline-offset: 0.375em;
///  //   z-index: 1998;
///  // }
///

/// Using npm-asset/focus-visible to polyfill the :focus-visible pseudo class
/// https://github.com/WICG/focus-visible

// Default Focus
:focus {
  box-shadow: none;
  outline: $focus-outline-width $focus-outline-style $focus-color;
  outline-offset: 0.375em;
  z-index: z('focus-outline');
}

// Reset all focus states when this polyfill loads
.js-focus-visible :focus:not(.focus-visible) {
  box-shadow: none !important;
  outline: none;
  outline-offset: 0;

  // Targets Safari 7.1+: When transition and outline are used together, the outline gets clipped
  _::-webkit-full-page-media,
  _:future,
  :root & {
    transition: none;
  }
}

@mixin focus-ring($color: $focus-color, $offset: 0.375em) {
  .js-focus-visible &.focus-visible {
    outline: $focus-outline-width $focus-outline-style $color;
    outline-offset: $offset;
    z-index: z('focus-outline');

    // Targets Safari 7.1+: When transition and outline are used together, the outline gets clipped
    _::-webkit-full-page-media,
    _:future,
    :root & {
      transition: none;
    }
  }
}
