/// Utilities to make reversing the link hover state
///
/// @example scss - Usage
///  // .element {
///  //   @include hover-reverse;
///  // }
///
/// @example css - Output
///  // .element {
///  //   text-decoration: underline;
///  //
///  //   &:hover {
///  //     text-decoration: none;
///  //   }
///  // }

// Utilities to make hiding or showing an element quicker

@mixin hover-default {
  text-decoration: underline;

  &:hover {
    text-decoration: none;
  }
}

@mixin hover-reverse {
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}
