// Traverse Color Map

/// Loop through a color map to output a defined foreground, background,
/// link, hover, and whatever other colors we define
///
/// @example scss – Basic Usage Sass
///   .element {
///     background-color: transparent;
///     @include traverse-color-map(named-color, false);
///   }
///
/// @example scss – Basic Usage CSS output
///   .element {
///     background-color: transparent;
///     color: black;
///
///     a {
///       color: red;
///     }
///
///     a:hover,
///     a:focus,
///     a:active {
///       color: yellow;
///     }
///   }
///
/// @required
///   Color map named $[project]-color-map
///   Bootstrap 4 mixin for hover-focus-active {}
///
/// @accepts
///   Named color key present in $background-color-map
///   Optional Boolean value for background color output
///
/// @optional
///   $bg: will output the background color or not. Set to true by default.
///     Good to use when already defined elsewhere

@mixin traverse-color-map($bg-color: 'white', $bg: true) {
  @if variable-exists(zpp-color-map) == false {
    @warn 'The required color map `$zpp-color-map` is not defined';
  }

  @if ($bg == true) {
    // Background color
    @if map-has-key(map-get($zpp-color-map, $bg-color), bg) {
      background-color: map-get(map-get($zpp-color-map, $bg-color), bg);
    }

    // Foreground color
    @if map-has-key(map-get($zpp-color-map, $bg-color), fg) {
      color: map-get(map-get($zpp-color-map, $bg-color), fg);
    }
  }

  // Anchor colors
  @if map-has-key(map-get($zpp-color-map, $bg-color), link) {
    a:not(.btn) {
      color: map-get(map-get($zpp-color-map, $bg-color), link);
    }
  }

  // Anchor hover/active colors
  @if map-has-key(map-get($zpp-color-map, $bg-color), hover) {
    a:not(.btn):hover,
    a:not(.btn):active {
      color: map-get(map-get($zpp-color-map, $bg-color), hover);
    }
  }

  // All focus colors
  @if map-has-key(map-get($zpp-color-map, $bg-color), focus) {
    a {
      @include focus-ring(map-get(map-get($zpp-color-map, $bg-color), focus));
    }

    a.btn,
    input[type='submit'],
    input[type='reset'],
    button {
      @include focus-ring-button(map-get(map-get($zpp-color-map, $bg-color), focus));
    }
  }
}
