/*
  Service Announcement:

  Drupal can be dumb sometimes… this external library uses camel case for its class names
  We need to change that, because the Twig filter "cleanclass" does not honor it

  IF YOU ADD MORE ANIMATIONS HERE PLEASE CHANGE THEIR CLASS NAMES

  end of service announcement

  Expected class structure:
  Selector class:     zpp__animation--initial
  Animation class:    animate__once__[effect]
  JS class on change: zpp__animation--active
  Initial string:     zpp__animation--initial animate__once__fadein
  JS fires:           zpp__animation--initial animate__once__fadein zpp__animation--active
*/


html.js {
  body {
    overflow-x: hidden; // for when animated objects are "off canvas"
  }

  .zpp__animation {
    &--initial {
      will-change: transform, opacity;
      animation-play-state: paused;
      visibility: hidden;
    }

    &--active {
      animation-direction: normal;
      animation-duration: 750ms;
      animation-fill-mode: forwards;
      animation-iteration-count: 1;
      animation-play-state: running;
      animation-timing-function: ease-in-out;
      visibility: visible;
    }
  }
}


@media print {
  // Kill all transitions and animations
  .zpp__animation {
    &--initial,
    &--active {
      animation: none !important;
      transition-property: none !important;
      transform: none !important;

      // Unhide any elements that were waiting to be animated
      html.js & {
        animation-duration: 0ms;
        opacity: 1 !important;
        visibility: visible !important;
      }
    }
  }
}
