// Print theme
// We call this a theme because it really is a new way to present the same
// content through a different media type

@media print {
  .row--print-link,
  .action__link--print {
    display: none;
  }

  @page {
    size: letter landscape;
    margin: 0;
  }

  body {
    margin: 1rem;
  }
}
