// Fonts
//
// Font, line-height, and color for body text, headings, and more.

// stylelint-disable value-keyword-case
$font-family-sans-serif: var(--ff__sans);
$font-family-monospace: Consolas, Menlo, Monaco, monospace;
$font-family-base: $font-family-sans-serif;
// Bootstrap has no default Serif font stack — Use our own $zpp-fontstack-serif
$font-family-serif: var(--ff__serif);
// stylelint-enable value-keyword-case

// $font-size-base: 1rem; // Assumes the browser default, typically `16px`. DON'T CHANGE
// $font-size-lg: ($font-size-base * 1.25);
// $font-size-sm: ($font-size-base * .875);

$font-weight-light: var(--fw__light);
$font-weight-normal: var(--fw__normal);
$font-weight-bold: var(--fw__bold);

$font-weight-base: $font-weight-normal;
// Used for calculations in BS4, can't be CSS vars
$line-height-base: $zpp-lineheight-base;
$line-height-lg: $zpp-lineheight-loose;
$line-height-sm: $zpp-lineheight-tight;


// Fluid Typography

// Set the base sizes — the Mobile sizes
// The mixin should grab the value defined for "base" in our "type-sizes" map
$h1-font-size: one-fluid-size(h1);
$h2-font-size: one-fluid-size(h2);
$h3-font-size: one-fluid-size(h3);
$h4-font-size: one-fluid-size(h4);
$h5-font-size: one-fluid-size(h5);
$h6-font-size: one-fluid-size(h6);

//$headings-margin-bottom: ($spacer / 2);
//$headings-font-family: inherit;
$headings-font-weight: $font-weight-normal;
//$headings-line-height: $line-height-sm;
//$headings-color: inherit;

$display1-size: one-fluid-size(display-1);
$display2-size: one-fluid-size(display-2);
$display3-size: one-fluid-size(display-3);
//$display4-size:               3.5rem;

$display1-weight: var(--fw__normal);
$display2-weight: $font-weight-light;
$display3-weight: $font-weight-normal;
//$display4-weight: $headings-font-weight;
//$display-line-height: $headings-line-height;

$lead-font-size: one-fluid-size(h3);
$lead-font-weight: $font-weight-bold;

$small-font-size: one-fluid-size(small);

//$text-muted: $gray-600;

$paragraph-margin-bottom: $vertical-rhythm;

//$blockquote-small-color:      $gray-600;
//$blockquote-font-size:        ($font-size-base * 1.25);
//
//$hr-border-color:             rgba($black, .1);
//$hr-border-width:             $border-width;
//
//$mark-padding:                .2em;
//
//$dt-font-weight:              $font-weight-bold;
//
//$kbd-box-shadow:              inset 0 -.1rem 0 rgba($black, .25);
//$nested-kbd-font-weight:      $font-weight-bold;
//
//$list-inline-padding:         .5rem;
//
//$mark-bg:                     #fcf8e3;
//
//$hr-margin-y:                 $spacer;


// Links
$link-color: $zpp-color-link;
$link-decoration: underline;
$link-hover-color: $zpp-color-link-hover;
$link-hover-decoration: none;


// Code

//$code-font-size:                    87.5%;
$code-color: var(--c__color-one--bg);
//
//$kbd-padding-y:                     .2rem;
//$kbd-padding-x:                     .4rem;
//$kbd-font-size:                     $code-font-size;
//$kbd-color:                         $white;
//$kbd-bg:                            $gray-900;
//
//$pre-color:                         $gray-900;
//$pre-scrollable-max-height:         340px;
