// Dropdowns
//
// Dropdown menu container and contents.

//$dropdown-min-width:                10rem;
//$dropdown-padding-y:                .5rem;
//$dropdown-spacer:                   .125rem;
//$dropdown-bg:                       $white;
//$dropdown-border-color:             rgba($black, .15);
//$dropdown-border-radius:            $border-radius;
//$dropdown-border-width:             $border-width;
//$dropdown-divider-bg:               $gray-200;
//$dropdown-box-shadow:               0 .5rem 1rem rgba($black, .175);
//
//$dropdown-link-color:               $gray-900;
//$dropdown-link-hover-color:         darken($gray-900, 5%);
//$dropdown-link-hover-bg:            $gray-100;
//
//$dropdown-link-active-color:        $component-active-color;
//$dropdown-link-active-bg:           $component-active-bg;
//
//$dropdown-link-disabled-color:      $gray-600;
//
//$dropdown-item-padding-y:           .25rem;
//$dropdown-item-padding-x:           1.5rem;
//
//$dropdown-header-color:             $gray-600;


// Navs

//$nav-link-padding-y:                .5rem;
//$nav-link-padding-x:                1rem;
//$nav-link-disabled-color:           $gray-600;
//
//$nav-tabs-border-color:             $gray-300;
//$nav-tabs-border-width:             $border-width;
//$nav-tabs-border-radius:            $border-radius;
//$nav-tabs-link-hover-border-color:  $gray-200 $gray-200 $nav-tabs-border-color;
//$nav-tabs-link-active-color:        $gray-700;
//$nav-tabs-link-active-bg:           $body-bg;
//$nav-tabs-link-active-border-color: $gray-300 $gray-300 $nav-tabs-link-active-bg;
//
//$nav-pills-border-radius:           $border-radius;
//$nav-pills-link-active-color:       $component-active-color;
//$nav-pills-link-active-bg:          $component-active-bg;
//
//$nav-divider-color:                 $gray-200;
//$nav-divider-margin-y:              ($spacer / 2);


// Navbar

//$navbar-padding-y: 0;
//$navbar-padding-x: 0;
//
//$navbar-nav-link-padding-x: ($spacer * 2);
//
//$navbar-brand-font-size:            $font-size-lg;
// Compute the navbar-brand padding-y so the navbar-brand will have the same height as navbar-text and nav-link
//$nav-link-height:                   ($font-size-base * $line-height-base + $nav-link-padding-y * 2);
//$navbar-brand-height:               $navbar-brand-font-size * $line-height-base;
//$navbar-brand-padding-y:            ($nav-link-height - $navbar-brand-height) / 2;
//
//$navbar-toggler-padding-y:          .25rem;
//$navbar-toggler-padding-x:          .75rem;
//$navbar-toggler-font-size:          $font-size-lg;
//$navbar-toggler-border-radius:      $btn-border-radius;
//
//$navbar-dark-color:                 rgba($white, .5);
//$navbar-dark-hover-color:           rgba($white, .75);
//$navbar-dark-active-color:          $white;
//$navbar-dark-disabled-color:        rgba($white, .25);
//$navbar-dark-toggler-icon-bg:       str-replace(url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='#{$navbar-dark-color}' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E"), "#", "%23");
//$navbar-dark-toggler-border-color:  rgba($white, .1);
//
//$navbar-light-color:                rgba($black, .5);
//$navbar-light-hover-color:          rgba($black, .7);
//$navbar-light-active-color:         rgba($black, .9);
//$navbar-light-disabled-color:       rgba($black, .3);
//$navbar-light-toggler-icon-bg:      str-replace(url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='#{$navbar-light-color}' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E"), "#", "%23");
//$navbar-light-toggler-border-color: rgba($black, .1);


// Jumbotron

//$jumbotron-padding:                 2rem;
//$jumbotron-bg:                      $gray-200;


// Cards

//$card-spacer-y:                     .75rem;
//$card-spacer-x:                     1.25rem;
//$card-border-width:                 $border-width;
//$card-border-radius:                $border-radius;
//$card-border-color:                 rgba($black, .125);
//$card-inner-border-radius:          calc(#{$card-border-radius} - #{$card-border-width});
//$card-cap-bg:                       rgba($black, .03);
//$card-bg:                           $white;
//
//$card-img-overlay-padding:          1.25rem;
//
//$card-group-margin:                 ($grid-gutter-width / 2);
//$card-deck-margin:                  $card-group-margin;
//
//$card-columns-count:                3;
//$card-columns-gap:                  1.25rem;
//$card-columns-margin:               $card-spacer-y;


// Tooltips

//$tooltip-font-size:                 $font-size-sm;
//$tooltip-max-width:                 200px;
//$tooltip-color:                     $white;
//$tooltip-bg:                        $black;
//$tooltip-border-radius:             $border-radius;
//$tooltip-opacity:                   .9;
//$tooltip-padding-y:                 .25rem;
//$tooltip-padding-x:                 .5rem;
//$tooltip-margin:                    0;
//
//$tooltip-arrow-width:               .8rem;
//$tooltip-arrow-height:              .4rem;
//$tooltip-arrow-color:               $tooltip-bg;


// Popovers

//$popover-font-size:                 $font-size-sm;
//$popover-bg:                        $white;
//$popover-max-width:                 276px;
//$popover-border-width:              $border-width;
//$popover-border-color:              rgba($black, .2);
//$popover-border-radius:             $border-radius-lg;
//$popover-box-shadow:                0 .25rem .5rem rgba($black, .2);
//
//$popover-header-bg:                 darken($popover-bg, 3%);
//$popover-header-color:              $headings-color;
//$popover-header-padding-y:          .5rem;
//$popover-header-padding-x:          .75rem;
//
//$popover-body-color:                $body-color;
//$popover-body-padding-y:            $popover-header-padding-y;
//$popover-body-padding-x:            $popover-header-padding-x;
//
//$popover-arrow-width:               1rem;
//$popover-arrow-height:              .5rem;
//$popover-arrow-color:               $popover-bg;
//
//$popover-arrow-outer-color:         fade-in($popover-border-color, .05);


// Badges

//$badge-font-size:                   75%;
//$badge-font-weight:                 $font-weight-bold;
//$badge-padding-y:                   .25em;
//$badge-padding-x:                   .4em;
//$badge-border-radius:               $border-radius;
//
//$badge-pill-padding-x:              .6em;
// Use a higher than normal value to ensure completely rounded edges when
// customizing padding or font-size on labels.
//$badge-pill-border-radius:          10rem;


// Modals

// Padding applied to the modal body
//$modal-inner-padding:               1rem;

//$modal-dialog-margin:               .5rem;
//$modal-dialog-margin-y-sm-up:       1.75rem;

//$modal-title-line-height:           $line-height-base;

//$modal-content-bg:                  $white;
//$modal-content-border-color:        rgba($black, .2);
$modal-content-border-width: 0;
$modal-content-border-radius: 0;
//$modal-content-box-shadow-xs:       0 .25rem .5rem rgba($black, .5);
//$modal-content-box-shadow-sm-up:    0 .5rem 1rem rgba($black, .5);

//$modal-backdrop-bg:                 $black;
//$modal-backdrop-opacity:            .5;
//$modal-header-border-color:         $gray-200;
//$modal-footer-border-color:         $modal-header-border-color;
//$modal-header-border-width:         $modal-content-border-width;
//$modal-footer-border-width:         $modal-header-border-width;
//$modal-header-padding:              1rem;

$modal-lg: 90%;
$modal-md: 90%;
// $modal-sm: 90%;

$modal-transition: $zpp-transition;


// Alerts
//
// Define alert colors, border radius, and padding.

//$alert-padding-y:                   .75rem;
//$alert-padding-x:                   1.25rem;
//$alert-margin-bottom:               1rem;
//$alert-border-radius:               $border-radius;
//$alert-link-font-weight:            $font-weight-bold;
//$alert-border-width:                $border-width;
//
//$alert-bg-level:                    -10;
//$alert-border-level:                -9;
//$alert-color-level:                 6;


// Progress bars

//$progress-height:                   1rem;
//$progress-font-size:                ($font-size-base * .75);
//$progress-bg:                       $gray-200;
//$progress-border-radius:            $border-radius;
//$progress-box-shadow:               inset 0 .1rem .1rem rgba($black, .1);
//$progress-bar-color:                $white;
//$progress-bar-bg:                   theme-color("primary");
//$progress-bar-animation-timing:     1s linear infinite;
//$progress-bar-transition:           width .6s ease;


// Breadcrumbs

//$breadcrumb-padding-y:              .75rem;
//$breadcrumb-padding-x:              1rem;
//$breadcrumb-item-padding:           .5rem;
//
//$breadcrumb-margin-bottom:          1rem;
//
//$breadcrumb-bg:                     $gray-200;
//$breadcrumb-divider-color:          $gray-600;
//$breadcrumb-active-color:           $gray-600;
//$breadcrumb-divider:                quote("/");
//
//$breadcrumb-border-radius:          $border-radius;


// Carousel

//$carousel-control-color:            $white;
//$carousel-control-width:            15%;
//$carousel-control-opacity:          .5;
//
//$carousel-indicator-width:          30px;
//$carousel-indicator-height:         3px;
//$carousel-indicator-spacer:         3px;
//$carousel-indicator-active-bg:      $white;
//
//$carousel-caption-width:            70%;
//$carousel-caption-color:            $white;
//
//$carousel-control-icon-width:       20px;
//
//$carousel-control-prev-icon-bg:     str-replace(url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='#{$carousel-control-color}' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E"), "#", "%23");
//$carousel-control-next-icon-bg:     str-replace(url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='#{$carousel-control-color}' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E"), "#", "%23");
//
//$carousel-transition:               transform .6s ease; // Define transform transition first if using multiple transitions (e.g., `transform 2s ease, opacity .5s ease-out`)


// Close

//$close-font-size:                   $font-size-base * 1.5;
//$close-font-weight:                 $font-weight-bold;
//$close-color:                       $black;
//$close-text-shadow:                 0 1px 0 $white;
