// Spacing
//
// Control the default styling of most Bootstrap elements by modifying these
// variables. Mostly focused on spacing.
// You can add more entries to the $spacers map, should you need more variation.

$spacer: rem(24);
$spacers: ();
// stylelint-disable-next-line scss/dollar-variable-default
$spacers: map-merge((
  0: 0,
  1: ($spacer * 0.5),
  2: $spacer,
  3: decimal-round(($spacer * 1.6667), 2), // 40px
  4: ($spacer * 2.5), // 60px
  5: ($spacer * 4.25)), // 102px
  $spacers);

// Helper
@function spacer($key) {
  @return map-get($spacers, $key);
}

// All the spacing is handled on the Component, which means we need to zero out
// the spacing on .row and .col — otherwise, the author will not be able to
// override that spacing with their own custom spacing
$grid-gutter-width: 0;

// Component spacing
// A few values are needed for mobile and larger screen spacing
$zpp-default-spacing: spacer(2);
$zpp-default-lg-spacing: spacer(3);

$zpp-small-spacing: spacer(1);
$zpp-small-lg-spacing: spacer(2);

$zpp-large-spacing: spacer(3);
$zpp-large-lg-spacing: spacer(4);
$zpp-large-lg-y-spacing: decimal-round((spacer(4) * 0.75), 4);

$zpp-xlarge-spacing: spacer(4);
$zpp-xlarge-lg-spacing: spacer(5);
$zpp-xlarge-lg-y-spacing: decimal-round((spacer(5) * 0.6), 3);
