// Buttons + Forms
//
// Shared variables that are reassigned to `$input-` and `$btn-` specific variables.

//$input-btn-padding-y:         .375rem;
//$input-btn-padding-x:         .75rem;
//$input-btn-line-height:       $line-height-base;

//$input-btn-focus-width:       .2rem;
//$input-btn-focus-color:       rgba($component-active-bg, .25);
//$input-btn-focus-box-shadow:  0 0 0 $input-btn-focus-width $input-btn-focus-color;

//$input-btn-padding-y-sm:      .25rem;
//$input-btn-padding-x-sm:      .5rem;
//$input-btn-line-height-sm:    $line-height-sm;

//$input-btn-padding-y-lg:      .5rem;
//$input-btn-padding-x-lg:      1rem;
//$input-btn-line-height-lg:    $line-height-lg;

//$input-btn-border-width:      $border-width;


// Buttons
//
// For each of Bootstrap's buttons, define text, background, and border color.

//$btn-padding-y:           $input-btn-padding-y;
//$btn-padding-x:           $input-btn-padding-x;
//$btn-line-height:         $input-btn-line-height;
//
//$btn-padding-y-sm:        $input-btn-padding-y-sm;
//$btn-padding-x-sm:        $input-btn-padding-x-sm;
//$btn-line-height-sm:      $input-btn-line-height-sm;
//
//$btn-padding-y-lg:        $input-btn-padding-y-lg;
//$btn-padding-x-lg:        $input-btn-padding-x-lg;
//$btn-line-height-lg:      $input-btn-line-height-lg;
//
//$btn-border-width:        $input-btn-border-width;

//$btn-font-weight: $font-weight-bold;
//$btn-box-shadow:          inset 0 1px 0 rgba($white, .15), 0 1px 1px rgba($black, .075);
//$btn-focus-width:         $input-btn-focus-width;
//$btn-focus-box-shadow:    $input-btn-focus-box-shadow;
//$btn-disabled-opacity:    .65;
//$btn-active-box-shadow:   inset 0 3px 5px rgba($black, .125);
//
//$btn-link-disabled-color: $gray-600;
//
//$btn-block-spacing-y:     .5rem;

// Allows for customizing button radius independently from global border radius
//$btn-border-radius:       $border-radius;
//$btn-border-radius-lg:    $border-radius-lg;
//$btn-border-radius-sm:    $border-radius-sm;

$btn-transition: $zpp-transition;
