// Grid breakpoints
//
// Define the minimum dimensions at which your layout will change,
// adapting to different screen sizes, for use in media queries.

$grid-breakpoints: (
  tiny: 0,
  xs: $zpp-bp-xs,
  sm: $zpp-bp-sm,
  md: $zpp-bp-md,
  lg: $zpp-bp-lg,
  xl: $zpp-bp-xl,
);


// Grid containers
//
// Define the maximum width of `.container` for different screen sizes.

$container-max-widths: (
  lg: $zpp-maxwidth,
);


// Grid columns
//
// Set the number of columns and specify the width of the gutters.

//$grid-columns: 12;
//$grid-gutter-width: Moved the setting of this variable to bs4-spacing
