// Arrow Component
// This is used on the hero component and well as an image or video component
// that have "Sticky" and "Hero" set to the row.

$arrow-small: rem(54);
$arrow-large: rem(72);

@keyframes shakeVertical {
  from {
    transform: translate3d(-50%, 0, 0);
  }

  to {
    transform: translate3d(-50%, -6px, 0);
  }
}

.zpp {

  // Always show a "down" arrow for hero components
  &__component--inline-block-hero,
  // Always show a "down" arrow for Publication Cover Image when the row is set
  // with both the "Sticky" and "Hero" classes.
  &__sticky#{&}__hero &__component--field-block-node-publication-field-cover-image,
  // Always show a "down" arrow for image/video components when the row is set
  // with both the "Sticky" and "Hero" classes.
  &__sticky#{&}__hero &__component--inline-block-image,
  &__sticky#{&}__hero &__component--inline-block-video {
    &::after {
      animation-name: shakeVertical;
      animation-duration: 1s;
      animation-direction: alternate;
      animation-iteration-count: infinite;
      animation-timing-function: ease;
      content: '';
      // https://yoksel.github.io/url-encoder/
      mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 54 54'%3E%3Cpath d='M26.7 41L1 19.2 2.9 17l23.8 20.2L51.1 17l1.9 2.3z'/%3E%3C/svg%3E");
      background-color: currentColor;
      width: $arrow-small;
      height: $arrow-small;
      position: absolute;
      bottom: spacer(3);
      left: 50%;

      @include media-breakpoint-up(xl) {
        width: $arrow-large;
        height: $arrow-large;
      }

      @media (prefers-reduced-motion: reduce) {
        // If the animation does not fire, we still need some of that translation to occur
        transform: translate3d(-50%, 0, 0);
      }
    }
  }
}
