// In case a browser does not already have this User Agent rule in place
audio:not([controls]) {
  @include hide;
}

$zpp-audio-button-w: em(54);
$zpp-audio-button-h: em(54);

.zpp-audio {
  &__info {
    padding-bottom: 0.125rem;
  }

  // Controls
  &__controls {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-between;

    // When there is a background image supplied
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    > div {
      max-width: 20%;
      width: 20%;

      // progress bar goes full width below controls
      &:last-child {
        max-width: 100%;
        width: 100%;
      }
    }
  }

  &__btn {
    height: $zpp-audio-button-h;
    position: relative; // parent to svg
    width: $zpp-audio-button-w;

    svg {
      height: $zpp-audio-button-h;
      width: $zpp-audio-button-w;
    }
  }

  // Track element
  &__track {
    &__title {
      font-weight: $zpp-fontweight-sans-bold;
    }

    // Avoid multiple declarations by grouping these
    &__elapsed,
    &__length {
      @include fluid-type-sizes('medium', false);
    }

    &__elapsed {
      padding-left: rem(10);
    }

    &__skip-back {
      text-align: right;
    }

    &__playpause {
      text-align: center;

      svg {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        opacity: 0;
      }
    }

    &__skip-forward {
      text-align: left;
    }

    &__length {
      padding-right: rem(10);
      text-align: right;
    }

    &__progress__bar {
      background-color: $black; // Default theme is Light
      height: rem(2);
      width: 0%;
    }
  }

  // States
  &--paused &__track__play-icon {
    display: block;
    opacity: 1;
    transition: $zpp-transition;
  }

  &--paused &__track__skip-back-icon,
  &--paused &__track__pause-icon,
  &--paused &__track__skip-forward-icon {
    display: none;
    opacity: 0;
    transition: $zpp-transition;
  }

  &--playing &__track__play-icon {
    display: none;
    opacity: 0;
    transition: $zpp-transition;
  }

  &--playing &__track__skip-back-icon,
  &--playing &__track__pause-icon,
  &--playing &__track__skip-forward-icon {
    display: block;
    opacity: 1;
    transition: $zpp-transition;
  }

  // Themes
  &__theme--dark &__controls {
    background-color: $black;
  }

  &__theme--dark,
  &__theme--dark .icon__fill,
  &__theme--dark .icon__text {
    color: $white !important; // ensures row colors don't change this
    fill: $white;
  }

  &__theme--dark &__track__progress__bar {
    background-color: $white;
  }

  &__theme--light &__controls {
    background-color: $white;
  }

  &__theme--light,
  &__theme--light .icon__fill,
  &__theme--light .icon__text {
    color: $black !important; // ensures row colors don't change this
    fill: $black;
  }
}
