// Carousel Component
// Carousel blocks use the BS4 carousel markup definition.

$arrow-small: rem(54);
$arrow-large: rem(72);

.zpp {
  &__component--inline-block-carousel {
    // carousel container
    .carousel {
      margin: 0 auto;
      max-width: 120rem;
    }

    .carousel-inner {
      text-align: center;
    }

    // carousel items
    .carousel-item {
      .carousel-caption {
        display: none;
      }
    }

    // carousel attributes container
    // Some of these items get clned and placed inside this contanier
    .carousel-attributes {
      position: relative;
      display: flex;
      flex-direction: column;
      justify-content: center;
      text-align: center;
      padding: 1rem 0;
      max-width: 60rem;
      margin: 1rem auto;

      // carousel pager
      .carousel-pager {
        position: absolute;
        height: 100%;
        width: 100%;
      }

      .carousel-control-prev-icon,
      .carousel-control-next-icon {
        width: $arrow-small;
        height: $arrow-small;

        @include media-breakpoint-up(xl) {
          width: $arrow-large;
          height: $arrow-large;
        }
      }

      .carousel-control-prev-icon {
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 48 48'%3E%3Cpath fill='none' stroke='%23010101' stroke-width='1.031' stroke-miterlimit='10' d='M30.8 45L17.2 24.6 30.8 3'/%3E%3C/svg%3E");
      }

      .carousel-control-next-icon {
        background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 48 48' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M17.2 3l13.6 20.4L17.2 45' fill='none' stroke='%23010101' stroke-miterlimit='10' stroke-width='1.031'/%3E%3C/svg%3E");
      }

      // carousel counter
      .carousel-counter {
        @include fluid-type-sizes('medium', false);
        margin: 1.325em auto;
        max-width: 70%;
      }

      // carousel captions
      .carousel-captions {
        margin: 0 auto;
        max-width: 70%;

        .carousel-caption {
          display: block;
          position: relative;
          color: $black;
          right: auto;
          left: auto;
          bottom: auto;
          padding: 0;
          top: 0;
          margin-top: 1.5rem;
        }
      }
    }
  }
}

