// Endnotes Component

$offset: -80px;

%target {
  background-color: var(--c__primary--bg);
  color: var(--c__primary--fg);
  outline: 2px solid var(--c__primary--bg);
}

.endnote {
  // a
  &-ref {
    display: inline-block;

    &:target,
    &.target {
      @extend %target;
    }
  }

  // ol
  &-list {
    @include list-unstyled();

    // li
    &__item {
      margin-bottom: spacer(1);

      &:target,
      &.target {
        @extend %target;
      }
    }

    // a
    &__link {
      margin-right: rem(5);
    }
  }
}
