// Header Component
$pub-arrow-size: em(32);

// Clamping widths for the Titles
$mobile-max-width: calc(100% - #{em(104)});

// @include arrow-link;
@mixin arrow-link {
  display: block;
  height: $pub-arrow-size;
  position: relative; // for positioned icon ::before
  width: $pub-arrow-size;
}

// @include arrow-icon;
@mixin arrow-icon {
  @include image-cover('auto 100%');
  content: '';
  background-color: currentColor;
  height: $pub-arrow-size;
  width: $pub-arrow-size;
  speak: none;
}

// All Headers
.zpp {
  &__component--header {
    // Nullify any padding that comes from flexible-content/spacing
    // Include the :not() because of CSS specificity
    &:not(.zpp__component--inline-block-hero) {
      padding-top: 0;
      padding-right: 0;
      padding-bottom: 0;
      padding-left: spacer(1);

      @include media-breakpoint-up(md) {
        padding: spacer(1);
      }

      @include media-breakpoint-up(xl) {
        padding: spacer(1) spacer(2);
      }
    }

    // Reading progress bar
    // (1) JS adds a root CSS variable that we use here for the width
    &::after {
      background-color: currentColor;
      content: '';
      position: absolute;
      top: 100%;
      left: 0;
      width: var(--page-traversed); // (1)
      height: 3px;
      transition: width $zpp-transition-duration $zpp-transition-function;
    }

    // override default component padding in nested layout
    .zpp__row,
    .zpp__component {
      padding: 0;
    }
  }

  // Default three column layout
  // RAID uses this layout
  &__component--header &__row-width--33-33-33 {
    // We apply flex right away, instead of only at a larger breakpoint
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around !important;

    .zpp__column {
      width: auto;
    }

    // The Publication name
    // (2) Note: at LG bp and up, the flex property from our 33/33/33 layout will nullify this value
    .zpp__column--first {
      max-width: $mobile-max-width; // (2)
      margin-right: auto;
      overflow: hidden;
    }

    // The Publication page name and prev/next arrows
    .zpp__column--second {
      @include media-breakpoint-down(xs) {
        @include hide;
      }
    }

    // The actions: font resize, print, citation
    .zpp__column--third {
      align-items: center;
      display: flex; // purposely not using bootstrap
      flex-flow: row nowrap;
      justify-content: flex-end;
      margin-left: auto;
    }
  }
}

// Layout classes that override the default 3 column functionality.
// .zpp__header--raid {}

// The publication title: Common treatment from publication to publication
.publication {
  &__title {
    @include fluid-type-sizes('header-publication');
    font-family: var(--ff__serif);

    a {
      @include focus-ring();
      @include hover-reverse;
    }

    &--long,
    &--short {
      @include single-line-clamp(100%);
    }

    // The publication long or short title can swap out if needed.
    &--long {
      @include media-breakpoint-only(sm) {
        @include hide;
      }
    }

    &--short {
      @include hide;

      @include media-breakpoint-only(sm) {
        @include show(block);
      }
    }
  }
}

// Buttons that *should* be common from one header to another
// Font Resize actions
.zpp__component--font-resize {
  a {
    display: inline-block;
    // Make the target a little taller
    padding: 0.75rem 0 0.875rem;
    vertical-align: bottom;
  }

  .box {
    white-space: nowrap;
  }

  // (3) Custom font sizes for these element: size expressed as REM
  #font_resize-minus {
    @include fluid-units('font-size', 0.875, 1, $min-vw, $max-vw, 1rem, true); // (3)
    @include hover-reverse;
  }

  #font_resize-default {
    @include hide;
  }

  #font_resize-plus {
    @include fluid-units('font-size', 1, 1.25, $min-vw, $max-vw, 1rem, true); // (3)
    @include hover-reverse;
  }
}

// Hide print button for small screens
.zpp__print .action__link--print {
  @include media-breakpoint-down(sm) {
    @include hide;
  }
}

// Print the page action & Citation jump link
.zpp__print .icon__print,
.zpp__citation-anchor .icon__citation {
  // Make the target a little larger. SVG is naturally 32px square
  // Target mobile height for the header is ~48px
  margin: em(7) em(5);
}

.zpp__component--views-block-print-block-1 .icon--print {
  background-image: url("data:image/svg+xml,%3Csvg width='32' height='32' class='icon__print' xmlns='http://www.w3.org/2000/svg' x='0px' y='0px' viewBox='0 0 32 32'%3E%3Cpath d='M26.1,20.8L25.6,22h-2.5v-2.6H8.8V22H6.4l-0.5-1.1v-8.1l0.5-1.2h19.2l0.5,1.2V20.8z M22.1,26.8H9.8v-6.4h12.3 V26.8z M9.8,5.2h12.3v5.3H9.8V5.2z M26.2,10.5h-3.1V4.1H8.8v6.3h-3l-0.9,2v8.6L5.8,23h3v4.9h14.3V23h3.1l0.9-1.9v-8.6L26.2,10.5z' /%3E%3C/svg%3E%0A");
  background-repeat: no-repeat;
  display: block;
  height: 2rem;
  width: 2rem;
}

// Inline T.O.C. Prev/Next actions
.prev-next-toc {
  &__list {
    @include list-unstyled();
    align-items: center;
    display: flex; // purposely not using bootstrap
    flex-flow: row nowrap;
    justify-content: center;
    margin: 0 spacer(1);
  }

  &__item {
    a {
      @include hover-reverse;
    }

    i {
      height: $pub-arrow-size;
      width: $pub-arrow-size;
    }

    &--prev,
    &--next {
      a {
        @include arrow-link;
      }

      &--icon {
        .text {
          @include sr-only;
        }
      }

      i::before {
        @include arrow-icon;
      }
    }

    &--prev {
      i::before {
        // https://yoksel.github.io/url-encoder/
        mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 32 32'%3E%3Cpath d='M27 15.2L8.4 15.2 14.5 12.6 14.5 11 5 15.1 5 16.9 14.5 21 14.5 19.4 8.2 16.7 27 16.7z'/%3E%3C/svg%3E");
      }
    }

    &--all {
      margin: 0 spacer(1);
      //margin: 0 rem(43);

      a {
        @include fluid-type-sizes('header-page');
        @include single-line-clamp(calc(100% - #{($spacer(1) + ($pub-arrow-size * 2))}));
        font-weight: $zpp-fontweight-sans-light;
      }
    }

    &--next {
      i::before {
        // https://yoksel.github.io/url-encoder/
        mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 32 32'%3E%3Cpath d='M5 16.8L23.6 16.8 17.5 19.4 17.5 21 27 16.9 27 15.1 17.5 11 17.5 12.6 23.8 15.3 5 15.3z'/%3E%3C/svg%3E");
      }
    }
  }
}

// When header is found by JS, we add a class to the parent row:
.js-header {
  position: sticky;
  overflow: visible;
  z-index: z(sticky-header);
  width: 100%;
  top: 0;
  transform: translateY(0);
  transition: $zpp-transition 500ms;

  .toolbar-fixed & {
    top: $toolbar-fixed;
  }

  .toolbar-fixed.toolbar-tray-open & {
    top: $toolbar-tray-open;
  }

  &.js-nav-up {
    transform: translateY(-100%);
    transition: $zpp-transition 0ms;

    .toolbar-fixed & {
      transform: translateY(calc(-100% + $toolbar-fixed));
    }

    .toolbar-fixed.toolbar-tray-open & {
      transform: translateY(calc(-100% + $toolbar-tray-open));
    }
  }
}
