// Hero Component

// Basic spacing is on the Row: flexible-content/_spacing.scss
// Vertical alignment is on the Row, but drives the position of the Hero Content
//  - Found in flexible-content/_vertical-alignment.scss
// Horizontal alignment is on the Row, but drives the position of the Hero Content
//  - Found in flexible-content/_horizontal-alignment.scss
// The "down" arrow styles are applied to other components as well.
// - Found in components/_arrow.scss

.zpp {

  // Different than usual. Fill the vertical viewport and crop the image
  // (1) Using a trick from the tricksters: https://css-tricks.com/the-trick-to-viewport-units-on-mobile/
  &__hero {
    img,
    video[autoplay],
    video[autoplay=true] {
      height: 100vh;
      height: calc(var(--vh, 1vh) * 100); // (1)
      width: 100%;
      max-width: unset;
      object-fit: cover;
      object-position: center center;

      .toolbar-fixed & {
        height: calc(100vh - #{$toolbar-fixed});
      }

      .toolbar-fixed.toolbar-tray-open & {
        height: calc(100vh - #{$toolbar-tray-open});
      }
    }
  }

  &__hero--content {
    position: absolute;
    z-index: 2;
    width: 100%;
    height: auto;
  }
}

// Vertical and Horizontal alignment in combination is difficult
// We need to apply both at the same time here because of the use of transform
.zpp {
  // VERTICAL orientation groupings
  // All tops
  &__vertical-alignment--top &__hero--content {
    top: 0;
  }

  // All Middles
  &__vertical-alignment--middle &__hero--content {
    top: 50%;
  }

  // All Bottoms
  &__vertical-alignment--bottom &__hero--content {
    top: auto;
    bottom: 0;
  }

  // HORIZONTAL orientation groupings
  // All Lefts
  &__horizontal-alignment--left &__hero--content {
    left: 0;
  }

  // All Centers
  &__horizontal-alignment--center &__hero--content {
    left: 50%;
  }

  // All Rights
  &__horizontal-alignment--right &__hero--content {
    left: auto;
    right: 0;
  }

  // SPECIFIC pairings
  // Top left
  &__vertical-alignment--top#{&}__horizontal-alignment--left &__hero--content,
  // Top Right
  &__vertical-alignment--top#{&}__horizontal-alignment--right &__hero--content,
  // Bottom Left
  &__vertical-alignment--bottom#{&}__horizontal-alignment--left &__hero--content,
  // Bottom Right
  &__vertical-alignment--bottom#{&}__horizontal-alignment--right &__hero--content {
    transform: none;
  }

  // Top Center
  &__vertical-alignment--top#{&}__horizontal-alignment--center &__hero--content,
  // Bottom Center
  &__vertical-alignment--bottom#{&}__horizontal-alignment--center &__hero--content {
    transform: translate(-50%, 0);
  }

  // Middle Left
  &__vertical-alignment--middle#{&}__horizontal-alignment--left &__hero--content,
  // Middle Right
  &__vertical-alignment--middle#{&}__horizontal-alignment--right &__hero--content {
    transform: translate(0, -50%);
  }

  // Middle Center
  &__vertical-alignment--middle#{&}__horizontal-alignment--center &__hero--content {
    transform: translate(-50%, -50%);
  }
}
