// Image Grid Component

$one-third: 33%;
$two-thirds: 66%;

.zpp {
  &__component--inline-block-image-grid {
    .modal-body {
      position: relative;
      padding: 1rem;

      @include media-breakpoint-up(md) {
        padding: 1rem 4rem 1rem 1rem;
      }
    }

    // the image grid block
    .image-grid {
      &__image {
        display: block;
        margin-bottom: spacer(2);
      }

      // the image grid modal
      &__modal {
        .modal__icon {
          margin-bottom: spacer(2);

          &--close {
            text-align: right;
            position: relative;
            right: 0;
            z-index: 1;

            @include media-breakpoint-up(md) {
              position: absolute;
              right: 1rem;
            }
          }

          &--close svg {
            height: $button-size;
            width: $button-size;
          }
        }
      }

      // the image grid modal carousel
      &__carousel {
        width: 100%;
        position: relative;
        display: flex;
        flex-direction: column;

        @include media-breakpoint-up(md) {
          flex-direction: row;
        }
      }
    }

    .carousel-inner {
      width: 100%;
      max-width: 66%;
    }

    // carousel items
    .carousel-item {
      .carousel-caption {
        display: none;
      }
    }

    // carousel attributes container
    // Some of these items get clned and placed inside this contanier
    .carousel-attributes {
      position: relative;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      @include media-breakpoint-down(sm) {
        border-top: $border-width solid $border-color;
        margin-top: spacer(2);
        padding-top: spacer(2);
      }

      @include media-breakpoint-up(md) {
        border-left: $border-width solid $border-color;
        height: 100%;
        margin-left: spacer(2);
        padding-left: spacer(2);
        width: calc(#{$one-third} + #{spacer(2)});
      }

      // carousel pager
      .carousel-pager {
        position: absolute;
        height: 100%;
        width: 100%;
        bottom: 0;

        @include media-breakpoint-up(md) {
          width: calc(100% - 1.5rem);
        }
      }

      .carousel-control-prev,
      .carousel-control-next {
        top: auto;
      }

      .carousel-control-prev-icon,
      .carousel-control-next-icon {
        width: $arrow-small;
        height: $arrow-small;

        @include media-breakpoint-up(xl) {
          width: $arrow-large;
          height: $arrow-large;
        }
      }

      .carousel-control-prev-icon {
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 48 48'%3E%3Cpath fill='none' stroke='%23010101' stroke-width='1.031' stroke-miterlimit='10' d='M30.8 45L17.2 24.6 30.8 3'/%3E%3C/svg%3E");
      }

      .carousel-control-next-icon {
        background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 48 48' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M17.2 3l13.6 20.4L17.2 45' fill='none' stroke='%23010101' stroke-miterlimit='10' stroke-width='1.031'/%3E%3C/svg%3E");
      }

      // carousel counter
      .carousel-counter {
        @include fluid-type-sizes('medium', false);
        margin: 1.325em auto;
      }

      // carousel captions
      .carousel-captions {
        margin: 0 auto;
        max-width: 98%;

        .carousel-caption {
          display: block;
          background-color: $white;
          position: relative;
          color: $black;
          right: auto;
          left: auto;
          bottom: auto;
          padding: 0;
          top: 0;

          @include media-breakpoint-up(md) {
            margin-top: 1.5rem;
          }
        }
      }
    }
  }
}
