// Pager Component

.pager__items {
  border-top: 2px solid var(--c__color-ten--bg);
  display: flex; // purposely not using bootstrap
  flex-flow: row nowrap;
  list-style-type: none;
  justify-content: center;
  padding: 0.25rem 0 0;
  margin-top: 2rem;

  .pager__item {
    margin: 1rem 0;

    &.is-active {
      font-weight: var(--fw__bold);
    }

    a {
      padding: 1rem;
      text-decoration: none;

      &:hover,
      &:focus {
        text-decoration: underline;
      }
    }
  }
}

