// Print Seletion Page
.view-display-id-page_1 {
  #edit-header {
    display: none;
  }

  .vbo-table {
    width: 100%;

    tr {
      display: flex;

      + tr {
        border-top: 1px solid var(--c__color-ten--bg);
        padding-top: 1rem;
      }
    }
  }

  .form-submit {
    background-color: var(--c__color-ten--bg);
    border-color: var(--c__color-ten--bg);
    border-radius: 0;
    color: var(--c__color-ten--fg);
  }
}

// Print Queue Page
// Link is removed in the print stylesheet
.view-id-print_page .action__link--print {
  margin: 2rem;
}
