// Form Component

.container-inline {
  display: flex; // purposely not using bootstrap
  flex-flow: row nowrap;
  margin-bottom: 2rem;

  label {
    @include sr-only;
    display: inline-block;
    font-family: $font-family-sans-serif;
  }

  .form-control {
    border-color: var(--c__color-ten--hover);
    border-radius: 0;
    color: var(--c__color-nine--fg);
    font-family: $font-family-serif;

    &::placeholder {
      color: var(--c__color-nine--fg);
    }
  }

  .form-group {
    margin: 0;
    width: calc(100% - 100px);
  }

  .form-submit {
    align-self: flex-end;
    background-color: var(--c__color-ten--bg);
    border-color: var(--c__color-ten--bg);
    border-radius: 0;
    color: var(--c__color-ten--fg);
    margin-left: 0.5rem;
  }
}

.search-help-link {
  display: none;
}

// Hiding this because it is only displaying for logged in users.
.search-advanced {
  display: none;
}

.layout-container--search {
  // Search Results header
  h2 {
    @extend .h6;
    border-bottom: 2px solid var(--c__color-ten--bg);
    font-family: $font-family-sans-serif;
    font-weight: var(--fw__bold);
    padding-bottom: 0.25rem;
    margin-bottom: 2rem;
  }

  ol {
    padding-left: 1rem;

    li {
      list-style-image: url('/themes/custom/ziggurat_publications/assets/images/icon-chevron-right.svg');

      &::marker {
        font-size: 1rem;
      }

      + li {
        border-top: 1px solid var(--c__color-ten--bg);
        padding-top: 2rem;
      }
    }
  }

  p {
    font-family: $font-family-serif;
  }
}

