// Table of Contents Component

.view-table-of-contents {
  .list-group-item {
    padding: 0;

    a:not(.btn).toc-link {
      display: block;

      @each $name, $value in $zpp-color-map {
        .zpp__bg-color--#{$name} & {
          @include hover-focus {
            background-color: var(--c__#{$name}--fg);
            color: var(--c__#{$name}--bg);
          }
        }
      }
    }
  }

  // advanced TOC
  &.view-display-id-block_1 {
    .list-group-item {
      a:not(.btn).toc-link {
        margin-left: - spacer(2);
        margin-right: - spacer(2);
        padding: spacer(1) spacer(2) 0;
      }

      // handling nested layouts
      .zpp {

        // reorder the columns for mobile
        // stylelint-disable order/order
        @include media-breakpoint-down(sm) {
          &__column--first {
            @include make-col(6);
            order: 2;
          }

          &__column--second {
            @include make-col(12);
            order: 1;
          }

          &__column--third {
            @include make-col(6);
            order: 3;
          }

          // Adjust component spacing
          &__column--first,
          &__column--second,
          &__column--third {
            .zpp__component {
              padding: spacer(2);
            }
          }

          // Removes extra spacing between components here as they are stacked
          &__column--second {
            .zpp__component {
              padding-bottom: 0;
            }
          }
        } // stylelint-enable order/order

        // toc 3 column grid needs to use different breakpoints then the
        // layout 3 column grid, so we redefine things
        @include media-breakpoint-only(md) {
          &__column--first {
            @include make-col(3);
          }

          &__column--second {
            @include make-col(6);
          }

          &__column--third {
            @include make-col(3);
          }
        }

        // remove component spacing on column 1 and 3
        @include media-breakpoint-up(md) {
          &__column--first,
          &__column--third {
            .zpp__component {
              padding-left: 0;
              padding-right: 0;
            }
          }
        }
        // remove row spacing
        &__row {
          padding: 0;
        }
      }

      @each $name, $value in $zpp-color-map {
        + .list-group-item {
          // Set border on the <A> so it aligns with the text.
          // stylelint-disable selector-max-compound-selectors
          a:not(.btn).toc-link {
            .zpp__bg-color--#{$name} & {
              border-top: $border-width solid var(--c__#{$name}--fg);
            }
          } // stylelint-enable selector-max-compound-selectors
        }
      }
    }
  }

  // simple TOC
  // gets nesting styles
  &.view-display-id-block_2 {
    .toc__title--simple {
      a {
        @include hover-reverse;
        display: inline-block;
      }
    }

    // li
    // by default toc items are indented
    .list-group-item {
      margin-left: spacer(3);

      // if it's a parent toc item there is no indenting
      &.parent--0 {
        margin-left: 0;
      }

      a:not(.btn).toc-link {
        @include hover-reverse;
        margin-left: - spacer(2);
        margin-right: - spacer(2);
        padding: spacer(1) spacer(2);
      }
    }
  }
}


