$zpp-video-l-button-w: rem(144);
$zpp-video-button-w-mobile: rem(44);
$zpp-video-button-h-mobile: rem(44);
$zpp-video-button-w: rem(54);
$zpp-video-button-h: rem(54);
$zpp-video-progress-h: rem(2);
$zpp-change-control-sizes: md;

.zpp-video {
  &__inner {
    overflow: hidden;
    position: relative;
  }

  // (1) Force button to fill this div. Nice large clickable area
  &__initial {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    display: flex; // (1)
    flex-flow: column nowrap;
    align-items: stretch;
    justify-content: center;

    &__btn {
      display: block;
      height: 100%;

      svg {
        opacity: 0;
        max-width: $zpp-video-l-button-w;
        width: 25%;
      }
    }
  }

  // Controls
  // (1) Found a fun fact while researching cross-platform video players
  // FF needs a ridicously high z-index for the controls layer
  // https://developer.mozilla.org/en-US/docs/Web/Guide/Audio_and_video_delivery/cross_browser_video_player
  &__controls {
    position: absolute;
    bottom: 0;
    z-index: 2;
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-between;
    z-index: 2147483647; // (1)

    &__btn {
      height: $zpp-video-button-h-mobile;
      position: relative; // parent to svg
      width: $zpp-video-button-w-mobile;

      @include media-breakpoint-up($zpp-change-control-sizes) {
        height: $zpp-video-button-h;
        width: $zpp-video-button-w;
      }

      svg {
        height: $zpp-video-button-h-mobile;
        width: $zpp-video-button-w-mobile;

        @include media-breakpoint-up($zpp-change-control-sizes) {
          height: $zpp-video-button-h;
          width: $zpp-video-button-w;
        }
      }
    }
  }

  // Track element
  &__track {
    &__progress {
      max-width: 100%;
      width: 100%;

      &__bar {
        background-color: $black; // Default theme is light
        height: $zpp-video-progress-h;
        width: 0%;
      }
    }

    &__playpause {
      text-align: center;

      svg {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        opacity: 0;
      }
    }

    &__title,
    &__duration {
      @include fluid-type-sizes('medium', false);
    }

    // (2) So far we need to make room for two control buttons and the duration time
    // rem(78) is the width of the track duration container + 4px
    &__title {
      @include single-line-clamp(calc(100% - #{rem(78) + ($zpp-video-button-w-mobile * 2)})); // (2)
      text-align: center;

      @include media-breakpoint-up(md) {
        max-width: calc(100% - #{rem(78) + ($zpp-video-button-w * 2)}); // (2)
      }
    }

    &__duration {
      margin-left: auto;
      text-align: right;
      white-space: nowrap;
    }

    &__fs {
      text-align: center;
    }
  }

  // States
  &--static &__initial svg {
    opacity: 1;
    transition: $zpp-transition;
  }

  &--static &__track__play-icon,
  &--paused &__track__play-icon {
    display: block;
    opacity: 1;
    transition: $zpp-transition;
  }

  // Show the controls
  // (3) The transition used when moving from the static state to the hover state
  &--playing:hover &__controls,
  &--playing:focus &__controls,
  &--paused &__controls {
    transform: translate3d(0, 0, 0);
    transition: transform 500ms $zpp-transition-function 0s; // (3)
  }

  // Hide the controls
  &--static &__controls,
  &--playing &__controls,
  &--ended &__controls {
    transform: translate3d(0, calc(100% - #{$zpp-video-progress-h}), 0);
    transition: transform 500ms $zpp-transition-function 2s; // (1)
  }

  &--playing &__track__play-icon {
    opacity: 0;
    transition: opacity $zpp-transition-duration $zpp-transition-function;
  }

  &--playing &__track__pause-icon {
    opacity: 1;
    transition: opacity $zpp-transition-duration $zpp-transition-function;
  }

  // Themes
  &__theme--dark,
  &__theme--dark .icon__fill,
  &__theme--dark .icon__text {
    color: $white !important; // ensures row colors don't change this
    fill: $white;
  }

  // Mistakenly (our mistake), an author can apply the Audio theme class to a video wrapper
  &__theme--dark &__track__progress__bar,
  .zpp-audio__theme--dark &__track__progress__bar {
    background-color: $white;
  }

  &__theme--light,
  &__theme--light .icon__fill,
  &__theme--light .icon__text {
    color: $black !important; // ensures row colors don't change this
    fill: $black;
  }
}
