// Resets of Bootstrap Buttons

.btn {
  &-link {
    padding: 0;
  }
}

#block-ziggurat-publications-local-tasks button.trigger.focusable:hover {
  display: none !important;
}

#block-ziggurat-publications-local-tasks button.trigger.focusable {
  display: none !important;
}

#block-ziggurat-publications-local-actions button.trigger.focusable:hover {
  display: none !important;
}

#block-ziggurat-publications-local-actions button.trigger.focusable {
  display: none !important;
}

#block-views-block-artist-publication-pages-block-1 button.trigger.focusable:hover {
  display: none !important;
}

#block-views-block-artist-publication-pages-block-1 button.trigger.focusable {
  display: none !important;
}
