// Base Media Styles
// Default starting point for media.

img {
  height: auto;
  max-width: 100%;
}

video {
  display: block;
  height: auto;
  max-width: 100%;
  width: 100%;
}

iframe {
  max-width: 100%;
}
