// Declare as many CSS variables as we think we can define from the authored Theme

:root {

  // Colors
  @if type-of($zpp-color-map) != 'map' {
    @error 'A sass map named $zpp-color-map is undefined. [_root.scss]';
  }
  @each $name, $value in $zpp-color-map {
    @if map-get($value, bg) != null {
      --c__#{$name}--bg: #{map-get($value, bg)};
      @if map-has-key(map-get($zpp-color-map, $name), fg) and map-get($value, fg) {
        --c__#{$name}--fg: #{map-get($value, fg)};
      }
      @if map-has-key(map-get($zpp-color-map, $name), link) and map-get($value, link) {
        --c__#{$name}--link: #{map-get($value, link)};
      }
      @if map-has-key(map-get($zpp-color-map, $name), hover) and map-get($value, hover) {
        --c__#{$name}--hover: #{map-get($value, hover)};
      }
      @if map-has-key(map-get($zpp-color-map, $name), focus) and map-get($value, focus) {
        --c__#{$name}--focus: #{map-get($value, focus)};
      }
    }
  }

  // Responsive typography
  @if type-of($type-sizes) != 'map' {
    @error 'A sass map named $type-sizes is undefined. [_root.scss]';
  }
  $ts-keys: map-keys($type-sizes);
  $ts-first-key: nth($ts-keys, 1);
  $ts-last-key: nth($ts-keys, length($ts-keys));

  // The $values here must be REM measurements but expressed without a unit
  @each $name, $value in map-get($type-sizes, $ts-first-key) {
    --ts__#{$ts-first-key}__#{$name}: #{strip-unit(rem($value))};
  }
  @each $name, $value in map-get($type-sizes, $ts-last-key) {
    --ts__#{$ts-last-key}__#{$name}: #{strip-unit(rem($value))};
  }
}
