// Resets of Bootstrap

// Makes all the things scroll smoothly
html {
  scroll-behavior: smooth;

  // Until Firefox gets with the times, we need to turn smooth scroll off.
  @include for-any-firefox {
    scroll-behavior: auto;
  }
}

// BS4 does "bolder" for some reason that does not work with our custom fonts
b,
strong {
  font-weight: var(--fw__bold);
}

i,
em {
  font-style: var(--fs__italic);
}

.font-weight-thin {
  font-weight: var(--fw__thin);
}

.font-weight-light {
  font-weight: var(--fw__light);
}

.font-weight-normal {
  font-weight: var(--fw__normal);
}

.font-weight-medium {
  font-weight: var(--fw__medium);
}

.font-weight-semibold {
  font-weight: var(--fw__semibold);
}

.font-weight-bold {
  font-weight: var(--fw__bold);
}

.font-weight-black {
  font-weight: var(--fw__black);
}


// BS4 sets line-height: 0 on <sup> but that messes with our Endnotes
sup {
  line-height: initial;
}

// All custom typography NOT handled by Bootstrap

// All display and utility classes
// .display-1,
// .display-2,
// .display-3,
// .display-4 {}

.display-1 {
  @include fluid-type-sizes('display-1');
  font-family: var(--ff__serif);
}

.display-2 {
  @include fluid-type-sizes('display-2');
  font-family: var(--ff__serif);
}

.display-3,
.pull-quote {
  @include fluid-type-sizes('display-3');
  font-family: var(--ff__serif);
}

// All headers and utility classes
//h1,
//.h1,
//h2,
//.h2,
//h3,
//.h3,
//h4,
//.h4,
//h5,
//.h5,
//h6,
//.h6 {}

// Set Type fluidly
h1,
.h1 {
  @include fluid-type-sizes('h1');
  font-family: var(--ff__serif);
}

h2,
.h2,
.pull-quote__left,
.pull-quote__right {
  @include fluid-type-sizes('h2');
  font-family: var(--ff__serif);
}

h3,
.h3,
.lead {
  @include fluid-type-sizes('h3');
  font-family: var(--ff__serif);
}

h4,
.h4 {
  @include fluid-type-sizes('h4');
  font-family: var(--ff__sans);
}

h5,
.h5 {
  @include fluid-type-sizes('h5');
  font-family: var(--ff__sans);
}

h6,
.h6 {
  @include fluid-type-sizes('h6');
  font-family: var(--ff__sans);
}

// Base size applied to elements (not containers)
p,
blockquote,
address,
li,
dt,
dd,
label,
input,
.text-normal {
  @include fluid-type-sizes('base', false);
}

// Margin bottoms
//p already declared properly via BS4
blockquote,
address,
ul,
ol,
dl {
  margin-bottom: $paragraph-margin-bottom;
}

a,
button {
  transition: $zpp-transition;
}

// Undo that for text in components that are at the bottom
.zpp__component {
  p,
  blockquote,
  address,
  ul,
  ol,
  dl {
    &:last-child {
      margin-bottom: 0;
    }
  }
}

.display-1 {
  margin-bottom: ($paragraph-margin-bottom / 4);
}

.display-2 {
  margin-bottom: ($paragraph-margin-bottom / 3);
}

.display-3,
.pull-quote {
  margin-bottom: ($paragraph-margin-bottom / 2);
}

// Other custom sizes
.text-medium {
  @include fluid-type-sizes('medium', false);
}

// Yes, BS4 has a .small class, but it does not follow typical naming conventions
.text-small {
  @include fluid-type-sizes('small', false);
}

// Custom author styles
blockquote {
  margin-left: em(18);
  margin-right: em(18);

  // CK Editor keeps <p> tags inside a <blockquote>. Get rid of double spacing
  p:last-child {
    margin-bottom: 0;
  }
}

.text-serif,
.text-primary {
  font-family: var(--ff__serif);
}

.text-sans,
.text-secondary {
  font-family: var(--ff__sans);
}

.text-abbr {
  // Similar to BS4's .initialism, but not as small + kerning
  font-size: 93.75%;
  letter-spacing: $zpp-kerning;
  text-transform: uppercase;
}

.initial-indent {
  text-indent: em(36);

  & + & {
    margin-top: - $paragraph-margin-bottom;
  }
}

.initial-cap {
  &::first-letter {
    float: left;
    font-size: 500%;
    line-height: 1;
    margin-top: -0.125em;
    padding-right: 1rem;
    text-transform: uppercase; // Just in case

    @include for-any-firefox {
      margin-top: 0.0625em;
      margin-bottom: 0.25em;
    }
  }
}

.pull-quote {
  // font-size: Same as Display-3
  // margin-bottom: Same as Display-3
  line-height: 1.1875;

  &__left {
    // font-size: Same as Heading 2
    @include media-breakpoint-up(md) {
      float: left;
      margin-right: 5%;
      width: 45%;

      &--pull-12 {
        margin-left: -12%;
        width: 52%;
      }

      &--pull-25 {
        margin-left: -25%;
        width: 65%;
      }
    }
  }

  &__right {
    // font-size: Same as Heading 2
    @include media-breakpoint-up(md) {
      float: right;
      margin-left: 5%;
      width: 45%;

      &--pull-12 {
        margin-right: -12%;
        width: 52%;
      }

      &--pull-25 {
        margin-right: -25%;
        width: 65%;
      }
    }
  }
}

.search-help-link {
  display: inline-block;
  margin: 1rem 0;
}

// BS4 has .text-white but no .text-black, this sets the default
.text-black {
  color: $black;
}

// Text Color Loops
@each $name, $value in $zpp-color-map {
  .text-white {
    color: $white;
  }

  .text-black {
    color: $black;
  }

  @if map-has-key(map-get($zpp-color-map, $name), bg) and map-get($value, bg) {
    .text-#{$name} {
      color: var(--c__#{$name}--bg);
    }
  }
}
