$zpp-breakpoints: (
  // List as unitless pixels
  base: 440,  // 620-440= 180
  small: 620,  // 760-620= 140
  medium: 760,  // 960-760= 200
  large: 960,  // 1200-960= 240
  x-large: 1200, // 1520-1200 = 320
  xx-large: 1520  // 1520-1200 = 320
);

$zpp-maxwidths: (
  base: 1380,
  splash: 1200,
  text: 800
);

// Helpers
@function bp($bp) {
  @return map-get($zpp-breakpoints, $bp);
}

// Breakpoints expressed in PX, math in EMs
$zpp-bp-xs: px(bp(base));
$zpp-bp-sm: px(bp(small));
$zpp-bp-md: px(bp(medium));
$zpp-bp-lg: px(bp(large));
$zpp-bp-xl: px(bp(x-large));
$zpp-bp-xxl: px(bp(xx-large));

// For responsive typography
// Declare a minimum and maximum viewport size for fluidity to happen within
$min-vw: strip-unit(rem(bp(base)));
$max-vw: strip-unit(rem(bp(x-large)));

$zpp-maxwidth: em(map-get($zpp-maxwidths, base));
$zpp-maxwidth-text: em(map-get($zpp-maxwidths, text));
