//
// Color system
//

$white: #fff;
//$gray-100: #f8f9fa;
//$gray-200: #e9ecef;
//$gray-300: #dee2e6;
//$gray-400: #ced4da;
//$gray-500: #adb5bd;
//$gray-600: #6c757d;
//$gray-700: #495057;
//$gray-800: #343a40;
//$gray-900: #212529;
$black: #101010;

//$grays: ();
// stylelint-disable-next-line scss/dollar-variable-default
//$grays: map-merge(
//  (
//    "100": $gray-100,
//    "200": $gray-200,
//    "300": $gray-300,
//    "400": $gray-400,
//    "500": $gray-500,
//    "600": $gray-600,
//    "700": $gray-700,
//    "800": $gray-800,
//    "900": $gray-900
//  ),
//  $grays
//);

//$blue:    #007bff;
//$indigo:  #6610f2;
//$purple:  #6f42c1;
//$pink:    #e83e8c;
//$red:     #dc3545;
//$orange:  #fd7e14;
//$yellow:  #ffc107;
//$green:   #28a745;
//$teal:    #20c997;
//$cyan:    #17a2b8;

//$colors: ();
// stylelint-disable-next-line scss/dollar-variable-default
//$colors: map-merge(
//  (
//    "blue":       $blue,
//    "indigo":     $indigo,
//    "purple":     $purple,
//    "pink":       $pink,
//    "red":        $red,
//    "orange":     $orange,
//    "yellow":     $yellow,
//    "green":      $green,
//    "teal":       $teal,
//    "cyan":       $cyan,
//    "white":      $white,
//    "gray":       $gray-600,
//    "gray-dark":  $gray-800
//  ),
//  $colors
//);

//$primary:       $blue;
//$secondary:     $gray-600;
//$success:       $green;
//$info:          $cyan;
//$warning:       $yellow;
//$danger:        $red;
//$light:         $gray-100;
//$dark:          $gray-800;

//$theme-colors: ();
// stylelint-disable-next-line scss/dollar-variable-default
//$theme-colors: map-merge(
//  (
//    "primary":    $primary,
//    "secondary":  $secondary,
//    "success":    $success,
//    "info":       $info,
//    "warning":    $warning,
//    "danger":     $danger,
//    "light":      $light,
//    "dark":       $dark
//  ),
//  $theme-colors
//);

// Set a specific jump point for requesting color jumps
//$theme-color-interval:      8%;

// The yiq lightness value that determines when the lightness of color changes from "dark" to "light". Acceptable values are between 0 and 255.
//$yiq-contrasted-threshold:  150;

// Customize the light and dark text colors for use in our YIQ color contrast function.
//$yiq-text-dark:             $gray-900;
//$yiq-text-light:            $white;


//
// Project variables
//

// Eventually, these colors will come out of the Database
$gray: #666;
$primary: #fff57e;
$color-1: #ff996c;
$color-2: #ffe9bf;
$color-3: #b4fbff;
$color-4: #fffaa8;
$color-5: #d5ffbf;
$color-6: #d9d6ff;
$color-7: #ffdffe;
$color-8: #1f4400;
$color-9: $white;
$color-10: $black;

// stylelint-disable-next-line scss/dollar-variable-default
$zpp-color-map: (
  'primary': (
    bg: $primary,
    fg: $black,
    link: $black,
    hover: $black,
    focus: $black,
  ),
  'color-one': (
    bg: $color-1,
    fg: null,
    link: null,
    hover: null,
    focus: null,
  ),
  'color-two': (
    bg: $color-2,
    fg: null,
    link: null,
    hover: null,
    focus: null,
  ),
  'color-three': (
    bg: $color-3,
    fg: null,
    link: null,
    hover: null,
    focus: null,
  ),
  'color-four': (
    bg: $color-4,
    fg: null,
    link: null,
    hover: null,
    focus: null,
  ),
  'color-five': (
    bg: $color-5,
    fg: null,
    link: null,
    hover: null,
    focus: null,
  ),
  'color-six': (
    bg: $color-6,
    fg: null,
    link: null,
    hover: null,
    focus: null,
  ),
  'color-seven': (
    bg: $color-7,
    fg: null,
    link: null,
    hover: null,
    focus: null,
  ),
  'color-eight': (
    bg: $color-8,
    fg: $white,
    link: $white,
    hover: $white,
    focus: $white,
  ),
  'color-nine': (
    bg: $color-9,
    fg: null,
    link: null,
    hover: null,
    focus: null,
  ),
  'color-ten': (
    bg: $color-10,
    fg: $white,
    link: $white,
    hover: $gray,
    focus: $gray,
  ),
);

// Defaults
$zpp-color-body-fg: $black;
$zpp-color-body-bg: $white;
$zpp-color-link: currentColor;
$zpp-color-link-hover: currentColor;
$zpp-color-link-focus: currentColor;
