// Default fonts from Good Type Foundry and Monotype

$zpp-fontweight-default-100: 100;
$zpp-fontweight-default-200: 200;
$zpp-fontweight-default-400: 400;
$zpp-fontweight-default-500: 500;
$zpp-fontweight-default-600: 600;
$zpp-fontweight-default-700: 700;
$zpp-fontweight-default-900: 900;

$zpp-fontstyle-default-italic: italic;
$zpp-fontstyle-default-oblique: oblique;
$zpp-fontstyle-default-normal: normal;

// Good Type Foundry
$zpp-fontfamily-sans: 'Good Sans';
$zpp-fontstack-sans: $zpp-fontfamily-sans, 'Franklin Gothic', 'Helvetica Neue', HelveticaNeue, sans-serif;
$zpp-fontweight-sans-light: $zpp-fontweight-default-200;
$zpp-fontweight-sans-normal: $zpp-fontweight-default-400;
$zpp-fontweight-sans-bold: $zpp-fontweight-default-700;

// Monotype
$zpp-fontfamily-serif: 'Trump Mediaeval';
$zpp-fontstack-serif: $zpp-fontfamily-serif, 'Hoefler Text', Baskerville, serif;
$zpp-fontweight-serif-normal: $zpp-fontweight-default-400;
$zpp-fontweight-serif-bold: $zpp-fontweight-default-700;

// Line-height
$zpp-lineheight-base: 1.325; // This font family needs tighter line-height
$zpp-lineheight-tight: 0.9375;
$zpp-lineheight-loose: 1.4545;


// Declare as a series of CSS variables
:root {
  --fn__sans: #{$zpp-fontfamily-sans};
  --ff__sans: #{$zpp-fontstack-sans};

  --fn__serif: #{$zpp-fontfamily-serif};
  --ff__serif: #{$zpp-fontstack-serif};

  --fw__thin: #{$zpp-fontweight-default-100};
  --fw__light: #{$zpp-fontweight-default-200};
  --fw__normal: #{$zpp-fontweight-default-400};
  --fw__medium: #{$zpp-fontweight-default-500};
  --fw__semibold: #{$zpp-fontweight-default-600};
  --fw__bold: #{$zpp-fontweight-default-700};
  --fw__black: #{$zpp-fontweight-default-900};

  --fw__serif__bold: #{$zpp-fontweight-serif-bold};

  --fs__italic: #{$zpp-fontstyle-default-italic};
  --fs__oblique: #{$zpp-fontstyle-default-oblique};
  --fs__normal: #{$zpp-fontstyle-default-normal};

  --lh__base: #{$zpp-lineheight-base};
  --lh__tight: #{$zpp-lineheight-tight};
  --lh__loose: #{$zpp-lineheight-loose};

  .text-serif {
    --fw__normal: #{$zpp-fontweight-serif-normal};
    --fw__light: var(--fw__normal);
    --fw__bold: #{$zpp-fontweight-serif-bold};
  }
}
