////
/// Required list of sizes for typographics elements
/// 1) Decide which breakpoint that the fluidity will begin and end.
///    These should correspond to named keys in the $zpp-breakpoints map
/// 3) Set base font sizes for mobile first
/// 4) Set the desired sizes for desktop
/// Mixins will fluidly change between the two values
////


/// Typographic Scales Map
/// List as unitless pixels, use SASS function to convert to whatever you want
///
$type-sizes: (

  // scss-lint:disable DeclarationOrder
  base: (
    small: 12,
    medium: 14,
    base: 16,
    h6: 15,
    h5: 16,
    h4: 17,
    h3: 19,
    h2: 24,
    h1: 27,
    display-3: 32,
    display-2: 53,
    display-1: 72,
    header-publication: 18,
    header-page: 18
  ),

  // scss-lint:disable DeclarationOrder
  x-large: (
    small: 11,
    medium: 12,
    base: 14,
    h6: 15,
    h5: 16,
    h4: 17,
    h3: 21,
    h2: 28,
    h1: 37,
    display-3: 48,
    display-2: 72,
    display-1: 121,
    header-publication: 22,
    header-page: 19
  ),
);
