// General variables

$zpp-transition-property: all;
$zpp-transition-duration: 250ms;
$zpp-transition-function: ease;
$zpp-transition: $zpp-transition-property $zpp-transition-duration $zpp-transition-function;
$zpp-kerning: 0.03125em;

// Focus styles
$focus-outline-width: 0.125rem;
$focus-outline-style: solid;
$focus-color: $black;

// Admin toolbars
$toolbar-fixed: 39px;
$toolbar-tray-open: 82px;

// Establishing some vertical rhythm for block elements
// We use em so that they scale based on the font size of the element and breakpoint
$vertical-rhythm: ($zpp-lineheight-base * 1em);

// Z Indices
$z-indices: (
  focus-outline: 30,
  // modals (BS4): 1040, 1050
  sticky-header: 2500,
  admin-toolbar: 30001,
  admin-menus: 30000,
  admin-modal: 2502 !important,
);

/// Z-index helper
///
/// @example scss - Usage
///    z-index: z('focus-outline');
///
/// @example css - Output
///    z-index: 30;
///
@function z($name) {
  @return map-get($z-indices, $name);
}
