// Background Attach
// This will determine how a WYSIWYG background media is positioned within the
// component.

.zpp {
  &__bg-attach--contain,
  &__bg-attach--cover {
    position: relative;
  }

  &__component--inline-block-basic {
    h2 {
      position: relative;
      z-index: 3;
    }
  }

  &__basic {
    &--content {
      position: relative;
      z-index: 2;
    }

    &--media {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;

      img,
      video {
        height: auto;
        width: auto;
        max-width: 100%;

        .zpp__bg-attach--cover &,
        .zpp__bg-attach--contain & {
          height: 100%;
          width: 100%;
          max-width: unset;
          object-position: center center;
        }

        .zpp__bg-attach--cover & {
          object-fit: cover;
        }

        .zpp__bg-attach--contain & {
          object-fit: contain;
        }
      }
    }
  }
}
