// Background Colors
// Color values will change per publications.
//
// This will determine what the background color of both the row and the component.

.zpp {
  // Use currentColor as much as possible to reduce duplicate color declarations
  &__row {
    a,
    button {
      color: currentColor;

      &:hover {
        color: currentColor;
      }

      &:focus {
        color: currentColor;
      }
    }

    svg {
      fill: currentColor;
    }
  }

  &__bg-color {
    // All rows
    &--default-light,
    // All components that have color applied at their own level
    &--default-light.zpp__component,
    // All Hero components that also have a color applied via the component level
    &--default-light > .zpp__hero--content {
      background-color: $white;
      color: $black;

      a,
      button {
        color: $black;

        &:hover {
          color: $black;
        }

        &:focus {
          color: $black;
        }
      }

      .ui-widget & {
        vertical-align: bottom;
        background-color: $white !important;
        color: $black !important;
      }
    }

    // This forces the override on the component
    &--default-light.zpp__component {
      background-color: $white !important;
      color: $black !important;
    }

    &--default-dark,
    &--default-dark > .zpp__column,
    &--default-dark.zpp__component,
    &--default-dark > .zpp__hero--content {
      background-color: $black;
      color: $white;

      a,
      button {
        color: $white;

        &:hover {
          color: $white;
        }

        &:focus {
          color: $white;
        }
      }

      .ui-widget & {
        vertical-align: bottom;
        background-color: $black !important;
        color: $white !important;
      }
    }

    // This forces the override on the component
    &--default-dark.zpp__component {
      background-color: $black !important;
      color: $white !important;
    }

    // Loop over the colors in the project's color map
    // We use CSS variables here
    @each $name, $value in $zpp-color-map {
      // Check if the first value is null... if it is, skip it
      @if map-get($value, bg) != null {
        &--#{$name},
        &--#{$name} > .zpp__column,
        &--#{$name}.zpp__component,
        &--#{$name} > .zpp__hero--content {
          background-color: var(--c__#{$name}--bg);
          color: var(--c__#{$name}--fg);

          a,
          button {
            color: var(--c__#{$name}--link);

            &:hover {
              color: var(--c__#{$name}--hover);
            }

            &:focus {
              @include focus-ring(var(--c__#{$name}--focus));
              color: var(--c__#{$name}--focus);
            }
          }

          .ui-widget & {
            vertical-align: bottom;
            background-color: var(--c__#{$name}--bg) !important;
            @if map-get($value, fg) != null {
              color: var(--c__#{$name}--fg) !important;
            }
          }
        }

        // This forces the override on the component
        &--#{$name}.zpp__component {
          background-color: var(--c__#{$name}--bg) !important;
          @if map-get($value, fg) != null {
            color: var(--c__#{$name}--fg) !important;
          }
        }
      }
    }
  }
}
