// Block Alignment
// This will override the row alignment styles

.zpp {
  &__block-alignment {
    &--normal {
      clear: both;
      float: none;
    }

    &--left {
      clear: both;
      float: left;
    }

    &--right {
      clear: both;
      float: right;
    }

    &--center {
      clear: both;
      float: center;
    }
  }
}
