// Column Count
// This will determine how many columns the content will be within the component.

// NOTES:
// Using a combination of column-width and column-count creates an interdependent
// fluid column design. Column-count becomes a maximum number of columns, while
// column-width becomes a minimum allowed width to create a new column.
// Therefore, the five column rules will allow 2 columns, then 3, then 4, then 5,
// as width of the container increases and meets the minimum width defined.

%base-css-col {
  column-gap: $zpp-default-spacing;
  // Magic: Most browsers that support CSS columns supports these rules, which
  // have typically only been effective in @media print stylesheets
  orphans: 2; // Require 2 lines of content at the bottom of any generated column
  widows: 2; // Requires 2 lines of content at the top of any generated column
}

.zpp {
  &__column-count {
    // &--one {}

    &--two {
      @extend %base-css-col;
      // The width of a column in 320px mobile minus default padding
      // Will achieve a 2 col design when vp is at least 640px wide
      column-width: 272px;
      column-count: 2;
    }

    &--three {
      @extend %base-css-col;
      // Will achieve a 3 col design when vp is at least 936px wide
      column-width: 272px;
      column-count: 3;
    }

    &--four {
      @extend %base-css-col;
      // Will achieve a 4 col design when vp is at least 960px wide
      column-width: 210px;
      column-count: 4;
    }

    &--five {
      @extend %base-css-col;
      // Will achieve a 5 col design when vp is at least 1024px wide
      column-width: 176px;
      column-count: 5;
    }
  }
}
