// Custom CSS
//
// These are one off custom styles that can be applied both to the row and the
// component.

.zpp {
  &__custom {
    &--title-author {
      hr {
        border-top: rem(4) solid currentColor;
        display: inline-block;
        height: 0;
        margin: rem(30) 0;
        width: rem(50);
      }
    }
  }
}

// use this to hide the height of special CSS & JS blocks
// but display them if we are logged in.
.publication-page-header {
  .zpp__component {
    display: none;

    .adminimal-admin-toolbar & {
      display: block;
    }
  }
}
