// Horizontal Alignment
// The config for these classes are in /modules/custom/ziggurat_publications_layout
// and get applied to the row.

.zpp {
  &__horizontal-alignment {
    &--left {
      justify-content: flex-start;
    }

    &--center {
      justify-content: center;
    }

    &--right {
      justify-content: flex-end;
    }
  }
}
