// Modal
//
// Bootstrap4 is the JS library being used for this feature.
// The config for these classes are in the /themes/custom/ziggurat_publications/src
// folder and get applied to the component.
//
// Custom JS file is in the /themes/custom/ziggurat_publications/assets/scripts folder.

$button-size: rem(46);
$header-spacer: 100px;

.zpp {
  &__modal {
    &--on {
      cursor: pointer;

      + .modal {
        top: $header-spacer;

        .toolbar-fixed & {
          top: calc(#{$toolbar-fixed} + #{$header-spacer});
        }

        .toolbar-fixed.toolbar-tray-open & {
          top: calc(#{$toolbar-tray-open} + #{$header-spacer});
        }
      }
    }

    &-body {
      flex-direction: column;

      @include media-breakpoint-up(md) {
        flex-direction: row;
      }

      &--close,
      &--media,
      &--caption {
        @include make-col(12);
      }

      &--close {
        @include media-breakpoint-up(md) {
          @include make-col(1);
          order: 3;
        }

        .modal__icon {
          margin-bottom: spacer(2);

          &--close,
          &--close svg {
            height: $button-size;
            width: $button-size;
          }
        }
      }

      &--media {
        @include media-breakpoint-up(md) {
          @include make-col(7.5);
          order: 1;
        }
      }

      &--caption {
        @include media-breakpoint-up(md) {
          @include make-col(3.5);
          order: 2;
        }

        .inner {
          @include media-breakpoint-down(sm) {
            border-top: $border-width solid $border-color;
            margin-top: spacer(2);
            padding-top: spacer(2);
          }

          @include media-breakpoint-up(md) {
            border-left: $border-width solid $border-color;
            margin-left: spacer(2);
            padding-left: spacer(2);
          }
        }
      }
    }
  }
}
