// Spacing
// This will determine the spacing around each component.

// Structure
// <div class="row zpp__row">
//   <div class="col zpp__column">
//      <div class="zpp__component zpp__animation--initial animate__once__fadein zpp__animation--active">
//        [content]
//
// NOTE:
// We zero out the negative margin on .row and default padding on .col
// with the built-in BS4 variable $grid-gutter-widths set to Zero


// TODO: Find a better place for this rule
.node--view-mode-full.container {
  max-width: none;
  position: relative; // requires for position: sticky to work
  pointer-events: auto; // allows clicks to happen to sticky elements with a negative z-index
}

.zpp {
  // Default "normal" spacing — but not the Hero
  &__component:not(#{&}__component--inline-block-hero),
  &__hero--content {
    padding: $zpp-default-spacing;

    @include media-breakpoint-up(lg) {
      padding: $zpp-default-lg-spacing;
    }
  }

  // Now allow resets with Spacing options
  // None
  &__spacing--none,
  &__spacing--none &__hero--content {
    padding: 0 !important; // we need to clobber everything with this setting
  }

  // Small
  &__spacing--small:not(#{&}__component--inline-block-hero),
  &__spacing--small &__hero--content {
    padding: $zpp-small-spacing;

    @include media-breakpoint-up(lg) {
      padding: $zpp-small-lg-spacing;
    }
  }

  // Large
  &__spacing--large:not(#{&}__component--inline-block-hero),
  &__spacing--large &__hero--content {
    padding: $zpp-large-spacing;

    @include media-breakpoint-up(lg) {
      padding: $zpp-large-lg-y-spacing $zpp-large-lg-spacing;
    }
  }

  // Xlarge
  &__spacing--xlarge:not(#{&}__component--inline-block-hero),
  &__spacing--xlarge &__hero--content {
    padding: $zpp-xlarge-spacing;

    @include media-breakpoint-up(lg) {
      padding: $zpp-xlarge-lg-y-spacing $zpp-xlarge-lg-spacing;
    }
  }

  // Speaking of XLarge, we add padding to the Row at large widths
  // Only Heros will touch the edges of the viewport
  &__row {
    @include media-breakpoint-up(xl) {
      padding-left: spacer(3);
      padding-right: spacer(3);
    }
  }

  // :not adds specificity, so instead, undo the above for some elements here
  &__hero,
  &__row.js-header,
  &__row.js-header > &__row {
    padding-left: 0;
    padding-right: 0;
  }

  &__hero--content > * {
    @include media-breakpoint-up(xl) {
      padding-left: spacer(3);
      padding-right: spacer(3);
    }
  }

  // Now some columns enter the mix
  &__row-width {

    // Three columns
    // stylelint-disable order/order
    @include media-breakpoint-down(md) {
      // At sm, 25-25-50 and 50-25-25 make the 25 columns 50%
      &--25-25-50 {
        .zpp__column--third .zpp__component {
          padding-top: 0;
        }
      }

      &--50-25-25 {
        .zpp__column--first .zpp__component {
          padding-bottom: 0;
        }
      }

      // At this breakpoint, these do not columnize yet
      &--33-33-33,
      &--25-50-25 {
        .zpp__column--second .zpp__component,
        .zpp__column--third .zpp__component {
          padding-top: 0;
        }
      }
    }
    // stylelint-enable order/order

    // Three columns
    @include media-breakpoint-up(sm) {
      // Reduce horizontal spacing between components in columns
      &--25-25-50 {
        // Default
        .zpp__column--first .zpp__component {
          padding-right: ($zpp-default-spacing / 2);
        }

        .zpp__column--second .zpp__component {
          padding-left: ($zpp-default-spacing / 2);
        }

        // Small
        .zpp__column--first .zpp__spacing--small {
          padding-right: ($zpp-small-spacing / 2);
        }

        .zpp__column--second .zpp__spacing--small {
          padding-left: ($zpp-small-spacing / 2);
        }

        // Large
        .zpp__column--first .zpp__spacing--large {
          padding-right: ($zpp-large-spacing / 2);
        }

        .zpp__column--second .zpp__spacing--large {
          padding-left: ($zpp-large-spacing / 2);
        }

        // Xlarge
        .zpp__column--first .zpp__spacing--xlarge {
          padding-right: ($zpp-xlarge-spacing / 2);
        }

        .zpp__column--second .zpp__spacing--xlarge {
          padding-left: ($zpp-xlarge-spacing / 2);
        }
      }

      &--50-25-25 {
        // Default
        .zpp__column--second .zpp__component {
          padding-right: ($zpp-default-spacing / 2);
        }

        .zpp__column--third .zpp__component {
          padding-left: ($zpp-default-spacing / 2);
        }

        // Small
        .zpp__column--second .zpp__spacing--small {
          padding-right: ($zpp-small-spacing / 2);
        }

        .zpp__column--third .zpp__spacing--small {
          padding-left: ($zpp-small-spacing / 2);
        }

        // Large
        .zpp__column--second .zpp__spacing--large {
          padding-right: ($zpp-large-spacing / 2);
        }

        .zpp__column--third .zpp__spacing--large {
          padding-left: ($zpp-large-spacing / 2);
        }

        // Xlarge
        .zpp__column--second .zpp__spacing--xlarge {
          padding-right: ($zpp-xlarge-spacing / 2);
        }

        .zpp__column--third .zpp__spacing--xlarge {
          padding-left: ($zpp-xlarge-spacing / 2);
        }
      }
    }

    // Three columns
    @include media-breakpoint-up(lg) {
      &--33-33-33,
      &--25-50-25,
      &--25-25-50,
      &--50-25-25 {
        // Default
        .zpp__column--first .zpp__component {
          padding-right: ($zpp-default-lg-spacing * 0.25);
        }

        .zpp__column--second .zpp__component {
          padding-right: ($zpp-default-lg-spacing * 0.625);
          padding-left: ($zpp-default-lg-spacing * 0.625);
        }

        .zpp__column--third .zpp__component {
          padding-left: ($zpp-default-lg-spacing * 0.25);
        }

        // Small
        .zpp__column--first .zpp__spacing--small {
          padding-right: ($zpp-small-lg-spacing * 0.25);
        }

        .zpp__column--second .zpp__spacing--small {
          padding-right: ($zpp-small-lg-spacing * 0.625);
          padding-left: ($zpp-small-lg-spacing * 0.625);
        }

        .zpp__column--third .zpp__spacing--small {
          padding-left: ($zpp-small-lg-spacing * 0.25);
        }

        // Large
        .zpp__column--first .zpp__spacing--large {
          padding-right: ($zpp-large-lg-spacing * 0.25);
        }

        .zpp__column--second .zpp__spacing--large {
          padding-right: ($zpp-large-lg-spacing * 0.625);
          padding-left: ($zpp-large-lg-spacing * 0.625);
        }

        .zpp__column--third .zpp__spacing--large {
          padding-left: ($zpp-large-lg-spacing * 0.25);
        }

        // Xlarge
        .zpp__column--first .zpp__spacing--xlarge {
          padding-right: ($zpp-xlarge-lg-spacing * 0.25);
        }

        .zpp__column--second .zpp__spacing--xlarge {
          padding-right: ($zpp-xlarge-lg-spacing * 0.625);
          padding-left: ($zpp-xlarge-lg-spacing * 0.625);
        }

        .zpp__column--third .zpp__spacing--xlarge {
          padding-left: ($zpp-xlarge-lg-spacing * 0.25);
        }
      }
    }

    // Two columns
    &--25-75,
    &--33-67,
    &--50-50,
    &--67-33,
    &--75-25 {
      // When stacked for mobile, reduce vertical spacing between components
      @include media-breakpoint-down(sm) {
        .zpp__column--second .zpp__component {
          padding-top: 0;
        }
      }
    }

    // Reduce horizontal spacing between components in columns
    // For smaller columns, zero out the padding on one side
    &--25-75,
    &--33-67 {
      @include media-breakpoint-up(md) {
        .zpp__column--first .zpp__component {
          padding-right: 0 !important;
        }
      }
    }

    &--75-25,
    &--67-33 {
      @include media-breakpoint-up(md) {
        .zpp__column--second .zpp__component {
          padding-left: 0 !important;
        }
      }
    }

    // For 50/50, split the padding in the middle
    &--50-50 {
      @include media-breakpoint-up(md) {
        // Default
        .zpp__column--first .zpp__component {
          padding-right: ($zpp-default-spacing / 2);
        }

        .zpp__column--second .zpp__component {
          padding-left: ($zpp-default-spacing / 2);
        }

        // Small
        .zpp__column--first .zpp__spacing--small {
          padding-right: ($zpp-small-spacing / 2);
        }

        .zpp__column--second .zpp__spacing--small {
          padding-left: ($zpp-small-spacing / 2);
        }

        // Large
        .zpp__column--first .zpp__spacing--large {
          padding-right: ($zpp-large-spacing / 2);
        }

        .zpp__column--second .zpp__spacing--large {
          padding-left: ($zpp-large-spacing / 2);
        }

        // Xlarge
        .zpp__column--first .zpp__spacing--xlarge {
          padding-right: ($zpp-xlarge-spacing / 2);
        }

        .zpp__column--second .zpp__spacing--xlarge {
          padding-left: ($zpp-xlarge-spacing / 2);
        }
      }

      @include media-breakpoint-up(lg) {
        // Default
        .zpp__column--first .zpp__component {
          padding-right: ($zpp-default-lg-spacing / 2);
        }

        .zpp__column--second .zpp__component {
          padding-left: ($zpp-default-lg-spacing / 2);
        }

        // Small
        .zpp__column--first .zpp__spacing--small {
          padding-right: ($zpp-small-lg-spacing / 2);
        }

        .zpp__column--second .zpp__spacing--small {
          padding-left: ($zpp-small-lg-spacing / 2);
        }

        // Large
        // Split the padding less for this size
        .zpp__column--first .zpp__spacing--large {
          padding-right: ($zpp-large-lg-spacing * 0.75);
        }

        .zpp__column--second .zpp__spacing--large {
          padding-left: ($zpp-large-lg-spacing * 0.75);
        }

        // Xlarge
        // Don't split the padding for this size
        // Still need to declare it for specificity reasons
        .zpp__column--first .zpp__spacing--xlarge {
          padding-right: $zpp-xlarge-lg-spacing;
        }

        .zpp__column--second .zpp__spacing--xlarge {
          padding-left: $zpp-xlarge-lg-spacing;
        }
      }
    }

    // Three columns
    &--25-25-50,
    &--50-25-25 {
      // When stacked for mobile, reduce vertical spacing between components
      @include media-breakpoint-down(tiny) {
        .zpp__column--second .zpp__component,
        .zpp__column--third .zpp__component {
          padding-top: 0;
        }
      }
    }
  } // End &__row-width
}
