// Sticky

.zpp {
  // The row class gets written after the sticky class, so its position relative
  // has more priority. Chaining helps get over this.
  &__row#{&}__sticky {
    position: sticky;
    top: 0;

    .toolbar-fixed & {
      top: $toolbar-fixed;
    }

    .toolbar-fixed.toolbar-tray-open & {
      top: $toolbar-tray-open;
    }
  }

  // Every row
  &__row {
    // Fixes an issue where Safari was not respecting z-index when using position:sticky
    transform: translate3d(0, 0, 0);
  }

  // Every row but sticky and ones containing a modal
  &__row#{&}__sticky,
  &__row.js-modal {
    transform: none;
  }
}
