// Vertical Alignment
// The config for these classes are in /modules/custom/ziggurat_publications_layout
// and get applied to the row.

.zpp {
  &__vertical-alignment {
    &--top {
      align-items: flex-start;
    }

    &--middle {
      align-items: center;
    }

    &--bottom {
      align-items: flex-end;
    }
  }
}
