// Width
// This will determine the width of the columns inside a row.

.zpp {

  // Any row needs overflow hidden for long titles that don't hyphenate
  &__row {
    position: relative;
    overflow: hidden;

    // when there are nested rows
    & & {
      overflow: visible;
    }
  }

  // Any column needs to be set to full width at mobile sizes
  &__row &__column {
    flex-basis: auto;
  }

  &__row-width {
    //&--100 {}

    // Single column differentials
    // width  sm    md    lg    xl  difference per step
    // 75%    12    11    10    9   1
    // 67%    11    10    9     8   1
    // 50%    10.5  8     7.5   6   1.5
    // 33%    10    8     6     4   2
    // 25%    9.75  7.5   5.25  3   2.25

    // One column
    //
    // Single columns at a small breakpoint
    @include media-breakpoint-up(sm) {
      //&--75 {}

      &--67 {
        &:not(.zpp__hero) > .zpp__column,
        .zpp__hero--content {
          @include make-col(11);
        }
      }

      &--50 {
        &:not(.zpp__hero) > .zpp__column,
        .zpp__hero--content {
          @include make-col(10.5);
        }
      }

      &--33 {
        &:not(.zpp__hero) > .zpp__column,
        .zpp__hero--content {
          @include make-col(10);
        }
      }

      &--25 {
        &:not(.zpp__hero) > .zpp__column,
        .zpp__hero--content {
          @include make-col(9.75);
        }
      }
    }

    // Single columns at a medium breakpoint
    @include media-breakpoint-up(md) {
      &--75 {
        &:not(.zpp__hero) > .zpp__column,
        .zpp__hero--content {
          @include make-col(11);
        }
      }

      &--67 {
        &:not(.zpp__hero) > .zpp__column,
        .zpp__hero--content {
          @include make-col(10);
        }
      }

      &--50 {
        &:not(.zpp__hero) > .zpp__column,
        .zpp__hero--content {
          @include make-col(9);
        }
      }

      &--33 {
        &:not(.zpp__hero) > .zpp__column,
        .zpp__hero--content {
          @include make-col(8);
        }
      }

      &--25 {
        &:not(.zpp__hero) > .zpp__column,
        > .zpp__hero--content {
          @include make-col(7.5);
        }
      }
    }

    // Single columns at a large breakpoint
    @include media-breakpoint-up(lg) {
      &--75 {
        &:not(.zpp__hero) > .zpp__column,
        .zpp__hero--content {
          @include make-col(10);
        }
      }

      &--67 {
        &:not(.zpp__hero) > .zpp__column,
        .zpp__hero--content {
          @include make-col(9);
        }
      }

      &--50 {
        &:not(.zpp__hero) > .zpp__column,
        .zpp__hero--content {
          @include make-col(7.5);
        }
      }

      &--33 {
        &:not(.zpp__hero) > .zpp__column,
        .zpp__hero--content {
          @include make-col(6);
        }
      }

      &--25 {
        &:not(.zpp__hero) > .zpp__column,
        .zpp__hero--content {
          @include make-col(5.25);
        }
      }
    }

    // Single columns at a xlarge breakpoint
    @include media-breakpoint-up(xl) {
      &--75 {
        &:not(.zpp__hero) > .zpp__column,
        .zpp__hero--content {
          @include make-col(9);
        }
      }

      &--67 {
        &:not(.zpp__hero) > .zpp__column,
        .zpp__hero--content {
          @include make-col(8);
        }
      }

      &--50 {
        &:not(.zpp__hero) > .zpp__column,
        .zpp__hero--content {
          @include make-col(6);
        }
      }

      &--33 {
        &:not(.zpp__hero) > .zpp__column,
        .zpp__hero--content {
          @include make-col(4);
        }
      }

      &--25 {
        &:not(.zpp__hero) > .zpp__column,
        .zpp__hero--content {
          @include make-col(3);
        }
      }
    }

    // Two columns
    // Two columns should never be applied to a Hero so we don't add the :not rules
    //
    // Two columns at a medium breakpoint
    @include media-breakpoint-up(md) {
      &--25-75,
      &--33-67 {
        > .zpp__column--first {
          @include make-col(4);
        }

        > .zpp__column--second {
          @include make-col(8);
        }
      }

      &--50-50 {
        > .zpp__column {
          @include make-col(6);
        }
      }

      &--75-25,
      &--67-33 {
        > .zpp__column--first {
          @include make-col(8);
        }

        > .zpp__column--second {
          @include make-col(4);
        }
      }
    }

    // Two columns at a large breakpoint
    @include media-breakpoint-up(lg) {
      &--25-75 {
        > .zpp__column--first {
          @include make-col(3);
        }

        > .zpp__column--second {
          @include make-col(9);
        }
      }

      &--75-25 {
        > .zpp__column--first {
          @include make-col(9);
        }

        > .zpp__column--second {
          @include make-col(3);
        }
      }
    }

    // Three columns
    //
    // Three columns at a small breakpoint
    @include media-breakpoint-up(sm) {
      &--25-25-50 {
        > .zpp__column {
          &--first,
          &--second {
            @include make-col(6);
          }
        }
      }

      &--50-25-25 {
        > .zpp__column {
          &--second,
          &--third {
            @include make-col(6);
          }
        }
      }
    }

    // Three columns at a large breakpoint
    @include media-breakpoint-up(lg) {
      &--33-33-33 {
        > .zpp__column {
          @include make-col(4);
        }
      }

      &--25-50-25 {
        > .zpp__column {
          &--first,
          &--third {
            @include make-col(3);
          }

          &--second {
            @include make-col(6);
          }
        }
      }

      &--25-25-50 {
        > .zpp__column {
          &--first,
          &--second {
            @include make-col(3);
          }

          &--third {
            @include make-col(6);
          }
        }
      }

      &--50-25-25 {
        > .zpp__column {
          &--first {
            @include make-col(6);
          }

          &--second,
          &--third {
            @include make-col(3);
          }
        }
      }
    }
  }
}
