// Zoom
//
// www.jacklmoore.com/zoom/ is the JS library being used for this feature.
// The config for these classes are in the /themes/custom/ziggurat_publications/src
// folder and get applied to the component.
//
// Custom JS file is in the /themes/custom/ziggurat_publications/assets/scripts folder.

.zpp {
  &__zoom {
    &__container {
      display: inline-block;

      img {
        display: block;

        &:hover {
          cursor: zoom-in;
        }
      }
    }
  }
}
