.layout-region-node-main,
.layout-region-node-footer {
  box-sizing: border-box;
  float: left;
  width: 100%;
  padding-right: 2em;
}

.layout-region-node-secondary {
  float: left;
  width: 98%;
}

.vertical-tabs {
  overflow: visible;
}

.vertical-tabs ul {
  list-style-type: none;
}

// Edit node field for Typography
.typography-wrapper {
  .details-wrapper {
    .field-group-html-element {
      margin-bottom: 2rem;
    }
  }
}
