{#
/**
 * @file
 * Theme override for a image grid image field.
 *
 * To override output, copy the "field.html.twig" from the templates directory
 * to your theme's directory and customize it, just like customizing other
 * Drupal templates such as page.html.twig or node.html.twig.
 *
 * Instead of overriding the theming for all fields, you can also just override
 * theming for a subset of fields using
 * @link themeable Theme hook suggestions. @endlink For example,
 * here are some theme hook suggestions that can be used for a field_foo field
 * on an article node type:
 * - field--node--field-foo--article.html.twig
 * - field--node--field-foo.html.twig
 * - field--node--article.html.twig
 * - field--field-foo.html.twig
 * - field--text-with-summary.html.twig
 * - field.html.twig
 *
 * Available variables:
 * - attributes: HTML attributes for the containing element.
 * - label_hidden: Whether to show the field label or not.
 * - title_attributes: HTML attributes for the title.
 * - label: The label for the field.
 * - multiple: TRUE if a field can contain multiple items.
 * - items: List of all the field items. Each item contains:
 *   - attributes: List of HTML attributes for each item.
 *   - content: The field item's content.
 * - entity_type: The entity type to which the field belongs.
 * - field_name: The name of the field.
 * - field_type: The type of the field.
 * - label_display: The display settings for the label.
 *
 * @see template_preprocess_field()
 */
#}
{%
  set title_classes = [
    label_display == 'visually_hidden' ? 'visually-hidden',
  ]
%}

{# Make a unique number because we cant get that in a field template. #}
{% set uniqueModal = 'modal--id-' ~ random() %}
{% set uniqueCarousel = 'carousel--id-' ~ random() %}

{% if label_hidden %}
  {% if multiple %}
    {% for item in items %}
      {{ item.content }}
    {% endfor %}
  {% else %}
    {% for item in items %}
      {{ item.content }}
    {% endfor %}
  {% endif %}
{% else %}

  <div class="image-grid" data-toggle="modal" data-target="#{{ uniqueModal }}">
    <h2{{ title_attributes.addClass(title_classes) }}>{{ label }}</h2>
    {% for item in items %}
      <img class="image-grid__image" src={{ file_url(item.content['#media'].field_media_image.entity.uri.value) }} alt={{ file_url(item.content['#media'].field_media_image.0.alt) }} data-target="#{{ uniqueCarousel }}" data-slide-to="{{ loop.index0 }}" />
    {% endfor %}
  </div>


  <!-- modal start -->
  <div class="zpp__modal--on"></div>
  <div class="modal fade image-grid__modal" id="{{ uniqueModal }}" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content container">
        <div class="modal-body zpp__modal-body row">

          <button type="button" class="close modal__icon modal__icon--close" data-dismiss="modal" aria-label="{{ 'Close'|t }}">
            <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" viewBox="0 0 48 48"><path fill="#010101" d="M47.3 1.3L46.7 0.7 24 23.5 1.3 0.7 0.7 1.3 23.5 24 0.7 46.7 1.3 47.3 24 24.5 46.7 47.3 47.3 46.7 24.5 24z"/></svg>
          </button>

          <!-- carousel start -->
          <div id="{{ uniqueCarousel }}" class="image-grid__carousel carousel slide" data-ride="carousel" data-interval="false" data-pause="hover">
            <ol class="carousel-indicators">
              {% for item in items %}
                {% if loop.first %}
                  <li data-target="#{{ uniqueCarousel }}" data-slide-to="0" class="active"></li>
                {% else %}
                  <li data-target="#{{ uniqueCarousel }}" data-slide-to="{{ loop.index0 }}"></li>
                {% endif %}
              {% endfor %}
            </ol>
            <div class="carousel-inner">
              {% for item in items %}
                {% if loop.first %}
                  <div class="carousel-item active">
                {% else %}
                  <div class="carousel-item">
                {% endif %}
                  {{ item.content }}
                  </div>
              {% endfor %}
            </div>
            <div class="carousel-attributes">
              <div class="carousel-pager">
                <a class="carousel-control-prev" href="#{{ uniqueCarousel }}" role="button" data-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#{{ uniqueCarousel }}" role="button" data-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="sr-only">Next</span>
                </a>
              </div>
              <div class="carousel-captions"></div>
              <div class="carousel-counter"></div>
            </div>
          </div>
          <!-- carousel end -->

        </div>
      </div>
    </div>
  </div>
  <!-- modal end -->
{% endif %}
