{#
/**
 * @file
 * Theme override for the body field in the Basic WYSIWYG block type.
 *
 * This adds a content wrapper to be styled and positioned within the contianer.
 *
 * To override output, copy the "field.html.twig" from the templates directory
 * to your theme's directory and customize it, just like customizing other
 * Drupal templates such as page.html.twig or node.html.twig.
 *
 * Instead of overriding the theming for all fields, you can also just override
 * theming for a subset of fields using
 * @link themeable Theme hook suggestions. @endlink For example,
 * here are some theme hook suggestions that can be used for a field_foo field
 * on an article node type:
 * - field--node--field-foo--article.html.twig
 * - field--node--field-foo.html.twig
 * - field--node--article.html.twig
 * - field--field-foo.html.twig
 * - field--text-with-summary.html.twig
 * - field.html.twig
 *
 * Available variables:
 * - attributes: HTML attributes for the containing element.
 * - label_hidden: Whether to show the field label or not.
 * - title_attributes: HTML attributes for the title.
 * - label: The label for the field.
 * - multiple: TRUE if a field can contain multiple items.
 * - items: List of all the field items. Each item contains:
 *   - attributes: List of HTML attributes for each item.
 *   - content: The field item's content.
 * - entity_type: The entity type to which the field belongs.
 * - field_name: The name of the field.
 * - field_type: The type of the field.
 * - label_display: The display settings for the label.
 *
 * @see template_preprocess_field()
 */
#}
{%
  set zpp_basic_classes = [
    'zpp__basic--content',
  ]
%}

{%
  set title_classes = [
    label_display == 'visually_hidden' ? 'visually-hidden',
  ]
%}

{% if label_hidden %}
  {% if multiple %}
    {% for item in items %}
      <div{{ attributes.addClass(zpp_basic_classes) }}>
        {{ item.content }}
      </div>
    {% endfor %}
  {% else %}
    {% for item in items %}
      <div{{ attributes.addClass(zpp_basic_classes) }}>
        {{ item.content }}
      </div>
    {% endfor %}
  {% endif %}
{% else %}
  <h2{{ title_attributes.addClass(title_classes) }}>{{ label }}</h2>
  {% for item in items %}
    <div{{ attributes.addClass(zpp_basic_classes) }}>
      {{ item.content }}
    </div>
  {% endfor %}
{% endif %}
