{#
/**
 * @file
 * Theme override for a field used in the Color Palette Content Type for Full
 * View Mode.
 *
 * To override output, copy the "field.html.twig" from the templates directory
 * to your theme's directory and customize it, just like customizing other
 * Drupal templates such as page.html.twig or node.html.twig.
 *
 * Instead of overriding the theming for all fields, you can also just override
 * theming for a subset of fields using
 * @link themeable Theme hook suggestions. @endlink For example,
 * here are some theme hook suggestions that can be used for a field_foo field
 * on an article node type:
 * - field--node--field-foo--article.html.twig
 * - field--node--field-foo.html.twig
 * - field--node--article.html.twig
 * - field--field-foo.html.twig
 * - field--text-with-summary.html.twig
 * - field.html.twig
 *
 * Available variables:
 * - attributes: HTML attributes for the containing element.
 * - label_hidden: Whether to show the field label or not.
 * - title_attributes: HTML attributes for the title.
 * - label: The label for the field.
 * - multiple: TRUE if a field can contain multiple items.
 * - items: List of all the field items. Each item contains:
 *   - attributes: List of HTML attributes for each item.
 *   - content: The field item's content.
 * - entity_type: The entity type to which the field belongs.
 * - field_name: The name of the field.
 * - field_type: The type of the field.
 * - label_display: The display settings for the label.
 *
 * @see template_preprocess_field()
 */
#}

{% if label == 'Color Primary Background' %}
  {% set css_vars = '--c__primary--bg: ' %}
{% elseif label == 'Color Primary Foreground' %}
  {% set css_vars = '--c__primary--fg: ' %}
{% elseif label == 'Color Primary Link' %}
  {% set css_vars = '--c__primary--link: ' %}
{% elseif label == 'Color Primary Hover' %}
  {% set css_vars = '--c__primary--hover: ' %}
{% elseif label == 'Color Primary Focus' %}
  {% set css_vars = '--c__primary--focus: ' %}
{% elseif label == 'Color One Background' %}
  {% set css_vars = '--c__color-one--bg: ' %}
{% elseif label == 'Color One Foreground' %}
  {% set css_vars = '--c__color-one--fg: ' %}
{% elseif label == 'Color One Link' %}
  {% set css_vars = '--c__color-one--link: ' %}
{% elseif label == 'Color One Hover' %}
  {% set css_vars = '--c__color-one--hover: ' %}
{% elseif label == 'Color One Focus' %}
  {% set css_vars = '--c__color-one--focus: ' %}
{% elseif label == 'Color Two Background' %}
  {% set css_vars = '--c__color-two--bg: ' %}
{% elseif label == 'Color Two Foreground' %}
  {% set css_vars = '--c__color-two--fg: ' %}
{% elseif label == 'Color Two Link' %}
  {% set css_vars = '--c__color-two--link: ' %}
{% elseif label == 'Color Two Hover' %}
  {% set css_vars = '--c__color-two--hover: ' %}
{% elseif label == 'Color Two Focus' %}
  {% set css_vars = '--c__color-two--focus: ' %}
{% elseif label == 'Color Three Background' %}
  {% set css_vars = '--c__color-three--bg: ' %}
{% elseif label == 'Color Three Foreground' %}
  {% set css_vars = '--c__color-three--fg: ' %}
{% elseif label == 'Color Three Link' %}
  {% set css_vars = '--c__color-three--link: ' %}
{% elseif label == 'Color Three Hover' %}
  {% set css_vars = '--c__color-three--hover: ' %}
{% elseif label == 'Color Three Focus' %}
  {% set css_vars = '--c__color-three--focus: ' %}
{% elseif label == 'Color Four Background' %}
  {% set css_vars = '--c__color-four--bg: ' %}
{% elseif label == 'Color Four Foreground' %}
  {% set css_vars = '--c__color-four--fg: ' %}
{% elseif label == 'Color Four Link' %}
  {% set css_vars = '--c__color-four--link: ' %}
{% elseif label == 'Color Four Hover' %}
  {% set css_vars = '--c__color-four--hover: ' %}
{% elseif label == 'Color Four Focus' %}
  {% set css_vars = '--c__color-four--focus: ' %}
{% elseif label == 'Color Five Background' %}
  {% set css_vars = '--c__color-five--bg: ' %}
{% elseif label == 'Color Five Foreground' %}
  {% set css_vars = '--c__color-five--fg: ' %}
{% elseif label == 'Color Five Link' %}
  {% set css_vars = '--c__color-five--link: ' %}
{% elseif label == 'Color Five Hover' %}
  {% set css_vars = '--c__color-five--hover: ' %}
{% elseif label == 'Color Five Focus' %}
  {% set css_vars = '--c__color-five--focus: ' %}
{% elseif label == 'Color Six Background' %}
  {% set css_vars = '--c__color-six--bg: ' %}
{% elseif label == 'Color Six Foreground' %}
  {% set css_vars = '--c__color-six--fg: ' %}
{% elseif label == 'Color Six Link' %}
  {% set css_vars = '--c__color-six--link: ' %}
{% elseif label == 'Color Six Hover' %}
  {% set css_vars = '--c__color-six--hover: ' %}
{% elseif label == 'Color Six Focus' %}
  {% set css_vars = '--c__color-six--focus: ' %}
{% elseif label == 'Color Seven Background' %}
  {% set css_vars = '--c__color-seven--bg: ' %}
{% elseif label == 'Color Seven Foreground' %}
  {% set css_vars = '--c__color-seven--fg: ' %}
{% elseif label == 'Color Seven Link' %}
  {% set css_vars = '--c__color-seven--link: ' %}
{% elseif label == 'Color Seven Hover' %}
  {% set css_vars = '--c__color-seven--hover: ' %}
{% elseif label == 'Color Seven Focus' %}
  {% set css_vars = '--c__color-seven--focus: ' %}
{% elseif label == 'Color Eight Background' %}
  {% set css_vars = '--c__color-eight--bg: ' %}
{% elseif label == 'Color Eight Foreground' %}
  {% set css_vars = '--c__color-eight--fg: ' %}
{% elseif label == 'Color Eight Link' %}
  {% set css_vars = '--c__color-eight--link: ' %}
{% elseif label == 'Color Eight Hover' %}
  {% set css_vars = '--c__color-eight--hover: ' %}
{% elseif label == 'Color Eight Focus' %}
  {% set css_vars = '--c__color-eight--focus: ' %}
{% elseif label == 'Color Nine Background' %}
  {% set css_vars = '--c__color-nine--bg: ' %}
{% elseif label == 'Color Nine Foreground' %}
  {% set css_vars = '--c__color-nine--fg: ' %}
{% elseif label == 'Color Nine Link' %}
  {% set css_vars = '--c__color-nine--link: ' %}
{% elseif label == 'Color Nine Hover' %}
  {% set css_vars = '--c__color-nine--hover: ' %}
{% elseif label == 'Color Nine Focus' %}
  {% set css_vars = '--c__color-nine--focus: ' %}
{% elseif label == 'Color Ten Background' %}
  {% set css_vars = '--c__color-ten--bg: ' %}
{% elseif label == 'Color Ten Foreground' %}
  {% set css_vars = '--c__color-ten--fg: ' %}
{% elseif label == 'Color Ten Link' %}
  {% set css_vars = '--c__color-ten--link: ' %}
{% elseif label == 'Color Ten Hover' %}
  {% set css_vars = '--c__color-ten--hover: ' %}
{% elseif label == 'Color Ten Focus' %}
  {% set css_vars = '--c__color-ten--focus: ' %}
{% endif %}

{%
  set title_classes = [
    label_display == 'visually_hidden' ? 'visually-hidden',
  ]
%}

{% set color_black = '#101010' %}
{% set color_white = '#fff' %}

{# Fallback Color Palette #}
{% if label ends with 'Fallback' %}
  {% if 'Primary' in label %}
    {% for item in items %}
      {% set key_value = item.key %}
      {% if key_value == 'fallback_dark' %}
        --c__primary--bg: {{ color_black }};<br>
        --c__primary--fg: {{ color_white }};<br>
        --c__primary--link: {{ color_white }};<br>
        --c__primary--hover: {{ color_white }};<br>
        --c__primary--focus: {{ color_white }};<br>
      {% elseif key_value == 'fallback_light' %}
        --c__primary--bg: {{ color_white }};<br>
        --c__primary--fg: {{ color_black }};<br>
        --c__primary--link: {{ color_black }};<br>
        --c__primary--hover: {{ color_black }};<br>
        --c__primary--focus: {{ color_black }};<br>
      {% endif %}
    {% endfor %}
  {% elseif 'One' in label %}
    {% for item in items %}
      {% set key_value = item.key %}
      {% if key_value == 'fallback_dark' %}
        --c__color-one--bg: {{ color_black }};<br>
        --c__color-one--fg: {{ color_white }};<br>
        --c__color-one--link: {{ color_white }};<br>
        --c__color-one--hover: {{ color_white }};<br>
        --c__color-one--focus: {{ color_white }};<br>
      {% elseif key_value == 'fallback_light' %}
        --c__color-one--bg: {{ color_white }};<br>
        --c__color-one--fg: {{ color_black }};<br>
        --c__color-one--link: {{ color_black }};<br>
        --c__color-one--hover: {{ color_black }};<br>
        --c__color-one--focus: {{ color_black }};<br>
      {% endif %}
    {% endfor %}
  {% elseif 'Two' in label %}
    {% for item in items %}
      {% set key_value = item.key %}
      {% if key_value == 'fallback_dark' %}
        --c__color-two--bg: {{ color_black }};<br>
        --c__color-two--fg: {{ color_white }};<br>
        --c__color-two--link: {{ color_white }};<br>
        --c__color-two--hover: {{ color_white }};<br>
        --c__color-two--focus: {{ color_white }};<br>
      {% elseif key_value == 'fallback_light' %}
        --c__color-two--bg: {{ color_white }};<br>
        --c__color-two--fg: {{ color_black }};<br>
        --c__color-two--link: {{ color_black }};<br>
        --c__color-two--hover: {{ color_black }};<br>
        --c__color-two--focus: {{ color_black }};<br>
      {% endif %}
    {% endfor %}
  {% elseif 'Three' in label %}
    {% for item in items %}
      {% set key_value = item.key %}
      {% if key_value == 'fallback_dark' %}
        --c__color-three--bg: {{ color_black }};<br>
        --c__color-three--fg: {{ color_white }};<br>
        --c__color-three--link: {{ color_white }};<br>
        --c__color-three--hover: {{ color_white }};<br>
        --c__color-three--focus: {{ color_white }};<br>
      {% elseif key_value == 'fallback_light' %}
        --c__color-three--bg: {{ color_white }};<br>
        --c__color-three--fg: {{ color_black }};<br>
        --c__color-three--link: {{ color_black }};<br>
        --c__color-three--hover: {{ color_black }};<br>
        --c__color-three--focus: {{ color_black }};<br>
      {% endif %}
    {% endfor %}
  {% elseif 'Four' in label %}
    {% for item in items %}
      {% set key_value = item.key %}
      {% if key_value == 'fallback_dark' %}
        --c__color-four--bg: {{ color_black }};<br>
        --c__color-four--fg: {{ color_white }};<br>
        --c__color-four--link: {{ color_white }};<br>
        --c__color-four--hover: {{ color_white }};<br>
        --c__color-four--focus: {{ color_white }};<br>
      {% elseif key_value == 'fallback_light' %}
        --c__color-four--bg: {{ color_white }};<br>
        --c__color-four--fg: {{ color_black }};<br>
        --c__color-four--link: {{ color_black }};<br>
        --c__color-four--hover: {{ color_black }};<br>
        --c__color-four--focus: {{ color_black }};<br>
      {% endif %}
    {% endfor %}
  {% elseif 'Five' in label %}
    {% for item in items %}
      {% set key_value = item.key %}
      {% if key_value == 'fallback_dark' %}
        --c__color-five--bg: {{ color_black }};<br>
        --c__color-five--fg: {{ color_white }};<br>
        --c__color-five--link: {{ color_white }};<br>
        --c__color-five--hover: {{ color_white }};<br>
        --c__color-five--focus: {{ color_white }};<br>
      {% elseif key_value == 'fallback_light' %}
        --c__color-five--bg: {{ color_white }};<br>
        --c__color-five--fg: {{ color_black }};<br>
        --c__color-five--link: {{ color_black }};<br>
        --c__color-five--hover: {{ color_black }};<br>
        --c__color-five--focus: {{ color_black }};<br>
      {% endif %}
    {% endfor %}
  {% elseif 'Six' in label %}
    {% for item in items %}
      {% set key_value = item.key %}
      {% if key_value == 'fallback_dark' %}
        --c__color-six--bg: {{ color_black }};<br>
        --c__color-six--fg: {{ color_white }};<br>
        --c__color-six--link: {{ color_white }};<br>
        --c__color-six--hover: {{ color_white }};<br>
        --c__color-six--focus: {{ color_white }};<br>
      {% elseif key_value == 'fallback_light' %}
        --c__color-six--bg: {{ color_white }};<br>
        --c__color-six--fg: {{ color_black }};<br>
        --c__color-six--link: {{ color_black }};<br>
        --c__color-six--hover: {{ color_black }};<br>
        --c__color-six--focus: {{ color_black }};<br>
      {% endif %}
    {% endfor %}
  {% elseif 'Seven' in label %}
    {% for item in items %}
      {% set key_value = item.key %}
      {% if key_value == 'fallback_dark' %}
        --c__color-seven--bg: {{ color_black }};<br>
        --c__color-seven--fg: {{ color_white }};<br>
        --c__color-seven--link: {{ color_white }};<br>
        --c__color-seven--hover: {{ color_white }};<br>
        --c__color-seven--focus: {{ color_white }};<br>
      {% elseif key_value == 'fallback_light' %}
        --c__color-seven--bg: {{ color_white }};<br>
        --c__color-seven--fg: {{ color_black }};<br>
        --c__color-seven--link: {{ color_black }};<br>
        --c__color-seven--hover: {{ color_black }};<br>
        --c__color-seven--focus: {{ color_black }};<br>
      {% endif %}
    {% endfor %}
  {% elseif 'Eight' in label %}
    {% for item in items %}
      {% set key_value = item.key %}
      {% if key_value == 'fallback_dark' %}
        --c__color-eight--bg: {{ color_black }};<br>
        --c__color-eight--fg: {{ color_white }};<br>
        --c__color-eight--link: {{ color_white }};<br>
        --c__color-eight--hover: {{ color_white }};<br>
        --c__color-eight--focus: {{ color_white }};<br>
      {% elseif key_value == 'fallback_light' %}
        --c__color-eight--bg: {{ color_white }};<br>
        --c__color-eight--fg: {{ color_black }};<br>
        --c__color-eight--link: {{ color_black }};<br>
        --c__color-eight--hover: {{ color_black }};<br>
        --c__color-eight--focus: {{ color_black }};<br>
      {% endif %}
    {% endfor %}
  {% elseif 'Nine' in label %}
    {% for item in items %}
      {% set key_value = item.key %}
      {% if key_value == 'fallback_dark' %}
        --c__color-nine--bg: {{ color_black }};<br>
        --c__color-nine--fg: {{ color_white }};<br>
        --c__color-nine--link: {{ color_white }};<br>
        --c__color-nine--hover: {{ color_white }};<br>
        --c__color-nine--focus: {{ color_white }};<br>
      {% elseif key_value == 'fallback_light' %}
        --c__color-nine--bg: {{ color_white }};<br>
        --c__color-nine--fg: {{ color_black }};<br>
        --c__color-nine--link: {{ color_black }};<br>
        --c__color-nine--hover: {{ color_black }};<br>
        --c__color-nine--focus: {{ color_black }};<br>
      {% endif %}
    {% endfor %}
  {% elseif 'Ten' in label %}
    {% for item in items %}
      {% set key_value = item.key %}
      {% if key_value == 'fallback_dark' %}
        --c__color-ten--bg: {{ color_black }};<br>
        --c__color-ten--fg: {{ color_white }};<br>
        --c__color-ten--link: {{ color_white }};<br>
        --c__color-ten--hover: {{ color_white }};<br>
        --c__color-ten--focus: {{ color_white }};<br>
      {% elseif key_value == 'fallback_light' %}
        --c__color-ten--bg: {{ color_white }};<br>
        --c__color-ten--fg: {{ color_black }};<br>
        --c__color-ten--link: {{ color_black }};<br>
        --c__color-ten--hover: {{ color_black }};<br>
        --c__color-ten--focus: {{ color_black }};<br>
      {% endif %}
    {% endfor %}
  {% endif %}
{% endif %}

{# Custom Color Palette #}
{% for item in items %}
  {% set key_value = item.key %}
  {% if 'fallback' not in key_value %}
    {{ css_vars }}{{ item.content }};<br>
  {% endif %}
{% endfor %}


<style type="text/css">
  :root {
  /* Fallback Color Palette */
  {% if label ends with 'Fallback' %}
    {% if 'Primary' in label %}
      {% for item in items %}
        {% set key_value = item.key %}
        {% if key_value == 'fallback_dark' %}
          --c__primary--bg: {{ color_black }};
          --c__primary--fg: {{ color_white }};
          --c__primary--link: {{ color_white }};
          --c__primary--hover: {{ color_white }};
          --c__primary--focus: {{ color_white }};
        {% elseif key_value == 'fallback_light' %}
          --c__primary--bg: {{ color_white }};
          --c__primary--fg: {{ color_black }};
          --c__primary--link: {{ color_black }};
          --c__primary--hover: {{ color_black }};
          --c__primary--focus: {{ color_black }};
        {% endif %}
      {% endfor %}
    {% elseif 'One' in label %}
      {% for item in items %}
        {% set key_value = item.key %}
        {% if key_value == 'fallback_dark' %}
          --c__color-one--bg: {{ color_black }};
          --c__color-one--fg: {{ color_white }};
          --c__color-one--link: {{ color_white }};
          --c__color-one--hover: {{ color_white }};
          --c__color-one--focus: {{ color_white }};
        {% elseif key_value == 'fallback_light' %}
          --c__color-one--bg: {{ color_white }};
          --c__color-one--fg: {{ color_black }};
          --c__color-one--link: {{ color_black }};
          --c__color-one--hover: {{ color_black }};
          --c__color-one--focus: {{ color_black }};
        {% endif %}
      {% endfor %}
    {% elseif 'Two' in label %}
      {% for item in items %}
        {% set key_value = item.key %}
        {% if key_value == 'fallback_dark' %}
          --c__color-two--bg: {{ color_black }};
          --c__color-two--fg: {{ color_white }};
          --c__color-two--link: {{ color_white }};
          --c__color-two--hover: {{ color_white }};
          --c__color-two--focus: {{ color_white }};
        {% elseif key_value == 'fallback_light' %}
          --c__color-two--bg: {{ color_white }};
          --c__color-two--fg: {{ color_black }};
          --c__color-two--link: {{ color_black }};
          --c__color-two--hover: {{ color_black }};
          --c__color-two--focus: {{ color_black }};
        {% endif %}
      {% endfor %}
    {% elseif 'Three' in label %}
      {% for item in items %}
        {% set key_value = item.key %}
        {% if key_value == 'fallback_dark' %}
          --c__color-three--bg: {{ color_black }};
          --c__color-three--fg: {{ color_white }};
          --c__color-three--link: {{ color_white }};
          --c__color-three--hover: {{ color_white }};
          --c__color-three--focus: {{ color_white }};
        {% elseif key_value == 'fallback_light' %}
          --c__color-three--bg: {{ color_white }};
          --c__color-three--fg: {{ color_black }};
          --c__color-three--link: {{ color_black }};
          --c__color-three--hover: {{ color_black }};
          --c__color-three--focus: {{ color_black }};
        {% endif %}
      {% endfor %}
    {% elseif 'Four' in label %}
      {% for item in items %}
        {% set key_value = item.key %}
        {% if key_value == 'fallback_dark' %}
          --c__color-four--bg: {{ color_black }};
          --c__color-four--fg: {{ color_white }};
          --c__color-four--link: {{ color_white }};
          --c__color-four--hover: {{ color_white }};
          --c__color-four--focus: {{ color_white }};
        {% elseif key_value == 'fallback_light' %}
          --c__color-four--bg: {{ color_white }};
          --c__color-four--fg: {{ color_black }};
          --c__color-four--link: {{ color_black }};
          --c__color-four--hover: {{ color_black }};
          --c__color-four--focus: {{ color_black }};
        {% endif %}
      {% endfor %}
    {% elseif 'Five' in label %}
      {% for item in items %}
        {% set key_value = item.key %}
        {% if key_value == 'fallback_dark' %}
          --c__color-five--bg: {{ color_black }};
          --c__color-five--fg: {{ color_white }};
          --c__color-five--link: {{ color_white }};
          --c__color-five--hover: {{ color_white }};
          --c__color-five--focus: {{ color_white }};
        {% elseif key_value == 'fallback_light' %}
          --c__color-five--bg: {{ color_white }};
          --c__color-five--fg: {{ color_black }};
          --c__color-five--link: {{ color_black }};
          --c__color-five--hover: {{ color_black }};
          --c__color-five--focus: {{ color_black }};
        {% endif %}
      {% endfor %}
    {% elseif 'Six' in label %}
      {% for item in items %}
        {% set key_value = item.key %}
        {% if key_value == 'fallback_dark' %}
          --c__color-six--bg: {{ color_black }};
          --c__color-six--fg: {{ color_white }};
          --c__color-six--link: {{ color_white }};
          --c__color-six--hover: {{ color_white }};
          --c__color-six--focus: {{ color_white }};
        {% elseif key_value == 'fallback_light' %}
          --c__color-six--bg: {{ color_white }};
          --c__color-six--fg: {{ color_black }};
          --c__color-six--link: {{ color_black }};
          --c__color-six--hover: {{ color_black }};
          --c__color-six--focus: {{ color_black }};
        {% endif %}
      {% endfor %}
    {% elseif 'Seven' in label %}
      {% for item in items %}
        {% set key_value = item.key %}
        {% if key_value == 'fallback_dark' %}
          --c__color-seven--bg: {{ color_black }};
          --c__color-seven--fg: {{ color_white }};
          --c__color-seven--link: {{ color_white }};
          --c__color-seven--hover: {{ color_white }};
          --c__color-seven--focus: {{ color_white }};
        {% elseif key_value == 'fallback_light' %}
          --c__color-seven--bg: {{ color_white }};
          --c__color-seven--fg: {{ color_black }};
          --c__color-seven--link: {{ color_black }};
          --c__color-seven--hover: {{ color_black }};
          --c__color-seven--focus: {{ color_black }};
        {% endif %}
      {% endfor %}
    {% elseif 'Eight' in label %}
      {% for item in items %}
        {% set key_value = item.key %}
        {% if key_value == 'fallback_dark' %}
          --c__color-eight--bg: {{ color_black }};
          --c__color-eight--fg: {{ color_white }};
          --c__color-eight--link: {{ color_white }};
          --c__color-eight--hover: {{ color_white }};
          --c__color-eight--focus: {{ color_white }};
        {% elseif key_value == 'fallback_light' %}
          --c__color-eight--bg: {{ color_white }};
          --c__color-eight--fg: {{ color_black }};
          --c__color-eight--link: {{ color_black }};
          --c__color-eight--hover: {{ color_black }};
          --c__color-eight--focus: {{ color_black }};
        {% endif %}
      {% endfor %}
    {% elseif 'Nine' in label %}
      {% for item in items %}
        {% set key_value = item.key %}
        {% if key_value == 'fallback_dark' %}
          --c__color-nine--bg: {{ color_black }};
          --c__color-nine--fg: {{ color_white }};
          --c__color-nine--link: {{ color_white }};
          --c__color-nine--hover: {{ color_white }};
          --c__color-nine--focus: {{ color_white }};
        {% elseif key_value == 'fallback_light' %}
          --c__color-nine--bg: {{ color_white }};
          --c__color-nine--fg: {{ color_black }};
          --c__color-nine--link: {{ color_black }};
          --c__color-nine--hover: {{ color_black }};
          --c__color-nine--focus: {{ color_black }};
        {% endif %}
      {% endfor %}
    {% elseif 'Ten' in label %}
      {% for item in items %}
        {% set key_value = item.key %}
        {% if key_value == 'fallback_dark' %}
          --c__color-ten--bg: {{ color_black }};
          --c__color-ten--fg: {{ color_white }};
          --c__color-ten--link: {{ color_white }};
          --c__color-ten--hover: {{ color_white }};
          --c__color-ten--focus: {{ color_white }};
        {% elseif key_value == 'fallback_light' %}
          --c__color-ten--bg: {{ color_white }};
          --c__color-ten--fg: {{ color_black }};
          --c__color-ten--link: {{ color_black }};
          --c__color-ten--hover: {{ color_black }};
          --c__color-ten--focus: {{ color_black }};
        {% endif %}
      {% endfor %}
    {% endif %}
  {% endif %}

  /* Custom Color Palette */
  {% for item in items %}
    {% set key_value = item.key %}
    {% if 'fallback' not in key_value %}
      {{ css_vars }}{{ item.content }};
    {% endif %}
  {% endfor %}
  }
</style>
