{#
/**
* @file
* Default theme implementation to display the file entity as an audio tag.
*
* Available variables:
* - attributes: An array of HTML attributes, intended to be added to the
*   audio tag.
* - files: And array of files to be added as sources for the audio tag. Each
*   element is an array with the following elements:
*   - file: The full file object.
*   - source_attributes: An array of HTML attributes for to be added to the
*     source tag.
*
* @ingroup themeable
*
* Custom theming ideas from: https://blogs.perficient.com/2017/12/19/how-to-customize-your-own-html5-audio-player/
*/
#}

<audio {{ attributes }} preload="auto">
  {% for file in files %}
    <source {{ file.source_attributes }} />
    <noscript>
      <a href="{{ file.source_attributes.src }}">
        {% trans %}
          Your browser does not support the HTML5 audio element.
          Download and listen to this audio file
        {% endtrans %}
      </a>
    </noscript>
  {% endfor %}
</audio>

