{#
/**
* @file
* Default theme implementation to display the file entity as a video tag.
*
* Available variables:
* - attributes: An array of HTML attributes, intended to be added to the
*   audio tag.
* - files: And array of files to be added as sources for the video tag. Each
*   element is an array with the following elements:
*   - file: The full file object.
*   - source_attributes: An array of HTML attributes for to be added to the
*     source tag.
*
* @ingroup themeable
*/
#}
<video {{ attributes }} preload="auto">
  {% for file in files %}
    <source {{ file.source_attributes }} />

    <noscript>
      <a href="{{ file.source_attributes.src }}">
        {% trans %}
          Your browser does not support the HTML5 video element.
          Download and watch this video file.
        {% endtrans %}
      </a>
    </noscript>
  {% endfor %}
</video>
