// If we need to tweak styles inside CKE, this is where to do it

// CKE creates a DIV wrapper with an iFrame inside it.
// This is the body class inside the iFrame
.cke_editable {
  .text-white {
    text-shadow: 0 0 0.5em rgba($black, 0.5);
  }
}

.cke_combopanel {
  width: 300px !important;
  height: 350px !important;
}
