// All labels
label {
  font-weight: var(--fw__bold);
}

// All inputs followed by a description
input + .description {
  font-family: var(--ff__serif);
  font-style: italic;
  padding: spacer(1) 0 spacer(2);
}

// All Form Groups
.form-group {
  // The form group around CK Editor
  &.js-form-type-textarea {
    margin-bottom: 0;
  }
}

// Log in form
.user-login-form {
  padding: spacer(2);
}

// The "Save Layout" form at the top of Layout Builder, outside .layout-builder
.entity-view-display-layout-builder-form {
  .form-actions {
    padding: spacer(2) spacer(2) 0;

    .form-wrapper {
      padding-top: spacer(1);
    }
  }

  .layout-builder__message {
    padding: spacer(1);
  }
}

// View, Edit, Delete, Revision links in Admin edit banner
.entity-view-display-layout-builder-form .form-actions,
.zpp__component--local-tasks-block {
  background-color: var(--c__primary--bg);
  color: var(--c__primary--fg);

  .btn {
    background-color: $white;
    color: $black;
    border-color: currentColor;
    text-decoration: none;

    @include hover-focus {
      background-color: $black;
      color: $white;
    }
  }
}
