// Messages above the .form-actions region
div[data-drupal-messages] {
  background-color: #9cf; // light blue
  padding: spacer(1);
}

.zpp__component--local-tasks-block,
form.node-layout-builder-form div[data-drupal-selector=edit-actions] {
  padding: spacer(1) !important;
}

// The overlay
.adminimal-admin-toolbar .ui-widget-overlay {
  background: $black;
  opacity: 0.5;
}
