// Unset some style that interfere with editing
// Since we have to include a Lint rule, group them all here
$close-size: 24px;

%zpp-animation-label {
  position: absolute;
  top: 0;
  left: 0;
  color: $white;
  background-color: $black;
  font-size: calc(var(--ts__base__small) * 1rem);
  line-height: 1;
  letter-spacing: 0.03125em;
  padding: spacer(1);
  text-transform: uppercase;
}

#layout-builder {
  .zpp__row {
    overflow: visible;

    // If an author is in Layout Builder, disable Sticky
    &.zpp__sticky {
      position: relative;
      top: 0;
      z-index: auto;

      &::after {
        @extend %zpp-animation-label;
        content: 'Sticky';
      }
    }
  }

  // Negate animations so authors can always see the element
  .zpp__animation--initial {
    animation: none;
    opacity: 1;
    visibility: visible !important;

    &::after {
      @extend %zpp-animation-label;
      content: 'Animated';
    }
  }

  // Label elements with Zoom effect
  .zpp__zoom--on {
    &::after {
      @extend %zpp-animation-label;
      content: 'Zoom';
    }
  }

  // Label elements with a Modal effect
  .zpp__modal--on {
    &::after {
      @extend %zpp-animation-label;
      content: 'Modal';
    }
  }

  // Error state for media elements
  .zpp-audio,
  .zpp-video {
    &--empty {
      outline: 2px solid $red;
      outline-offset: -2px;

      &::after {
        @extend %zpp-animation-label;
        background-color: $red;
        content: 'Empty! (no media element)';
      }
    }
  }

  // White text on a white background is possible, but not legible
  .zpp__row .text-white {
    text-shadow: 0 0 0.5em rgba($black, 0.5);
  }
}

// Override core setting bg-color to white
.layout-builder-block {
  background-color: inherit !important;
}

// Wrapper around the Layout Builder admin
.layout-builder {
  padding: 0.5rem 0.5rem 0;

  &__add-section,
  &__section {
    margin-bottom: 1rem;
  }

  &__add-section,
  &__add-block {
    padding: 1rem 0;
  }

  .layout-builder-block__content-preview-placeholder-label {
    padding-bottom: 6rem;
  }
}
