// The Layout Builder Edit Modal module uses jQuery UI.
// This overrides some of those styles.
.ui-dialog {
  border-radius: 0;
  box-shadow: 0 0 34px rgba(0, 0, 0, 0.08), 0 0 34px rgba(30, 32, 34, 0.8);
  z-index: z('admin-modal');

  @include media-breakpoint-up(lg) {
    &:not(.ui-dialog-off-canvas) {
      min-width: 80%;
    }
  }

  &-titlebar {
    background-color: var(--c__primary--bg);
    border-radius: 0;
    color: var(--c__primary--fg);
    height: calc(#{$close-size} + #{spacer(1)}) !important;
  }

  .form-item-settings-admin-label {
    display: none;
  }

  input + .description,
  .description {
    font-family: var(--ff__serif);
    font-style: italic;
    font-size: smaller;
    padding: 0.5rem 0 0;
  }

  .field-prefix {
    display: block;
    font-family: var(--ff__serif);
    font-style: normal;
    padding-bottom: 1rem;
  }

  .filter-wrapper {
    font-size: smaller;

    label:not(.option) {
      font-size: medium;
      font-weight: normal;
    }
  }

  fieldset {
    margin: 1rem 0;
  }

  legend {
    font-size: x-large;
    font-weight: bold;
  }

  .ui-dialog-titlebar-close,
  &.ui-dialog-off-canvas .ui-dialog-titlebar-close {
    right: 0;
    top: 0;
    width: 72px;
    margin: 0;
    padding: 0;
    height: 35px;
    border: $border-width solid $border-color;
    background-color: $white;
    background-image: none;

    &:hover,
    &:focus {
      background-image: none;
      border: $border-width solid $border-color;
    }

    &::before {
      content: 'close';
    }
  }
}

// The <FORM> inside the modal
.layout-builder-update-block,
.layout-builder-add-block,
.layout-builder-configure-block {
  label:not(.option) {
    display: block;
    font-size: x-large;
  }
}

.media-library-view,
.form-item-upload {
  label:not(.option) {
    display: block;
    font-size: large;
  }
}

// Media Modal
.media-library-widget-modal {
  a:not(:disabled).views-display-link,
  .media-library-menu-image a:not(:disabled),
  .ui-widget-content a:not(:disabled) {
    @extend .btn;
    @extend .btn-primary;
  }

  a:not(:disabled).views-display-link.is-active,
  .media-library-menu-image a:not(:disabled).active,
  .ui-widget-content a:not(:disabled).active,
  .pager__item.is-active a:not(:disabled) {
    @extend .btn;
    @extend .btn-secondary;
  }

  #media-library-add-form-wrapper {
    margin-bottom: 4rem;
  }

  .views-exposed-form {
    display: flex;
    border-top: $border-width solid $border-color;
    margin-top: 1rem;
    padding-top: 1rem;

    select {
      height: calc(1.325em + 0.75rem + 2px);
    }

    .form-group {
      margin-bottom: 0;

      + .form-group {
        margin-left: 1rem;
      }
    }

    .form-wrapper {
      align-self: flex-end;
      margin-left: 1rem;
    }
  }

  .views-form {
    margin: 1rem auto;

    form {
      display: flex;
      flex-wrap: wrap;

      .media-library-item {
        min-width: calc(20% - 20px);
        margin: 0 10px;
      }
    }
  }

  .pager__items,
  .js-media-library-menu {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0.5rem 0 1rem;

    li {
      + li {
        margin-left: 0.5em;
      }
    }
  }
}

.media-library-wrapper .media-library-view {
  flex-direction: column;

  .views-exposed-form {
    display: flex; // purposely not using @make-row

    label {
      display: block;
    }
  }
}
