// Global resets or unsets for the Admin interface


// stylelint-disable selector-max-id
// Why does Drupal declare the font family so many times?
// Would prefer to use the Publication default font
#drupal-off-canvas a,
#drupal-off-canvas .link,
#drupal-off-canvas *,
#drupal-off-canvas *:not(div),
.ui-widget,
.ui-dialog.ui-dialog-off-canvas .ui-dialog-title {
  font-family: inherit;
}

#drupal-off-canvas {
  a,
  a > div,
  .link {
    color: $white;
    text-decoration: none;

    @include hover-focus {
      text-decoration: underline;
    }
  }

  .layout-builder-configure-section {
    input[type='text'] {
      color: $black;

      &::placeholder {
        color: lighten($black, 50%);
        font-style: italic;
      }
    }
  }

  .layout-selection {
    a {
      text-align: center;
    }

    svg {
      display: block;
      margin: 0 auto;

      rect {
        fill: var(--c__primary--bg);
      }
    }
  }

  .throbber {
    background-color: transparent;

    + .message {
      color: var(--c__primary--bg);
    }
  }
}
// stylelint-enable selector-max-id

// The container for the Off Canvas Dialog is hard to target
body > .ui-dialog-off-canvas {
  .ui-dialog-titlebar {
    height: auto !important;
  }
}
