// Admin links sometimes get clobbered by Section/Row color themes
#toolbar-administration {
  position: relative;
  z-index: z('admin-toolbar');
}

.zpp__component--local-tasks-block,
.zpp__component--local-actions-block {
  position: relative;
  z-index: z('admin-menus');
}

// Hide the Node Clone block if your not logged in.
#block-ziggurat-publications-local-actions {
  display: none;

  .adminimal-admin-toolbar & {
    display: block;
    background-color: $white;
  }
}

.toolbar {
  .toolbar-icon-views-viewviews-publications-page-1,
  .toolbar-icon-views-viewviews-artist-publications-page-1 {
    padding: 1em 1.3333em;
  }
}
