
{#
/**
 * @file
 * Theme override to display the print page.
 *
 * The doctype, html, head and body tags are not in this template. Instead they
 * can be found in the html.html.twig template in this directory.
 *
 * Available variables:
 *
 * General utility variables:
 * - base_path: The base URL path of the Drupal installation. Will usually be
 *   "/" unless you have installed Drupal in a sub-directory.
 * - is_front: A flag indicating if the current page is the front page.
 * - logged_in: A flag indicating if the user is registered and signed in.
 * - is_admin: A flag indicating if the user has permission to access
 *   administration pages.
 *
 * Site identity:
 * - front_page: The URL of the front page. Use this instead of base_path when
 *   linking to the front page. This includes the language domain or prefix.
 *
 * Page content (in order of occurrence in the default page.html.twig):
 * - messages: Status and error messages. Should be displayed prominently.
 * - node: Fully loaded node, if there is an automatically-loaded node
 *   associated with the page and the node ID is the second argument in the
 *   page's path (e.g. node/12345 and node/12345/revisions, but not
 *   comment/reply/12345).
 *
 * Regions:
 * - page.header: Items for the header region.
 * - page.primary_menu: Items for the primary menu region.
 * - page.secondary_menu: Items for the secondary menu region.
 * - page.highlighted: Items for the highlighted content region.
 * - page.help: Dynamic help text, mostly for admin pages.
 * - page.content: The main content of the current page.
 * - page.sidebar_first: Items for the first sidebar.
 * - page.sidebar_second: Items for the second sidebar.
 * - page.footer: Items for the footer region.
 * - page.breadcrumb: Items for the breadcrumb region.
 *
 * @see template_preprocess_page()
 * @see html.html.twig
 */
#}

{% if primary_system_font_family|length %}
  <style type="text/css">
    :root {
      --ff__serif: '{{ primary_system_font_family }}', {{ primary_system_font_type }};
    }
  </style>
{% endif %}

{% if secondary_system_font_family|length %}
  <style type="text/css">
    :root {
      --ff__sans: '{{ secondary_system_font_family }}', {{ secondary_system_font_type }};
    }
  </style>
{% endif %}

{% if primary_webfont_url|length %}
  <link rel="stylesheet prefetch" media="screen" href="{{ primary_webfont_url }}">
  <style type="text/css">
    :root {
      --ff__serif: '{{ primary_webfont_family }}', {{ primary_webfont_type }};
    }
  </style>
{% endif %}

{% if secondary_webfont_url|length %}
  <link rel="stylesheet prefetch" media="screen" href="{{ secondary_webfont_url }}">
  <style type="text/css">
    :root {
      --ff__sans: '{{ secondary_webfont_family }}', {{ secondary_webfont_type }};
    }
  </style>
{% endif %}

{% if background_color_override|length and foreground_color_override|length %}
  <style type="text/css">
    :root {
      --c__primary--bg: {{ background_color_override }};
      --c__primary--fg: {{ foreground_color_override }};
    }
  </style>
{% endif %}

<div class="layout-container">

  <header role="banner">
    {{ page.header }}
  </header>

  {{ page.primary_menu }}
  {{ page.secondary_menu }}

  {{ page.breadcrumb }}

  {{ page.highlighted }}

  {{ page.help }}

  <main role="main">
    <a id="main-content" tabindex="-1"></a>{# link is in html.html.twig #}

    <div class="layout-content mt-2 mb-4">
      <div class="zpp__bg-color--default-light zpp__row-width--67 zpp__horizontal-alignment--center zpp__vertical-alignment--top row zpp__row zpp__row--one-column">
        <div class="col zpp__column zpp__column--first">
          {{ page.content }}
        </div>
      </div>
    </div>{# /.layout-content #}

    {% if page.sidebar_first %}
      <aside class="layout-sidebar-first" role="complementary">
        {{ page.sidebar_first }}
      </aside>
    {% endif %}

    {% if page.sidebar_second %}
      <aside class="layout-sidebar-second" role="complementary">
        {{ page.sidebar_second }}
      </aside>
    {% endif %}

  </main>

  {% if page.footer %}
    <footer role="contentinfo">
      {{ page.footer }}
    </footer>
  {% endif %}

</div>{# /.layout-container #}
