{#
/**
 * @file
 * Theme override for the Print Queue Page view template.
 *
 * Available variables:
 * - attributes: Remaining HTML attributes for the element.
 * - css_name: A css-safe version of the view name.
 * - css_class: The user-specified classes names, if any.
 * - header: The optional header.
 * - footer: The optional footer.
 * - rows: The results of the view query, if any.
 * - empty: The content to display if there are no rows.
 * - pager: The optional pager next/prev links to display.
 * - exposed: Exposed widget form/info to display.
 * - feed_icons: Optional feed icons to display.
 * - more: An optional link to the next page of results.
 * - title: Title of the view, only used when displaying in the admin preview.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the view title.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the view title.
 * - attachment_before: An optional attachment view to be displayed before the
 *   view content.
 * - attachment_after: An optional attachment view to be displayed after the
 *   view content.
 * - dom_id: Unique id for every view being printed to give unique class for
 *   Javascript.
 *
 * @see template_preprocess_views_view()
 */
#}
{%
  set classes = [
    'view',
    'view-' ~ id|clean_class,
    'view-id-' ~ id,
    'view-display-id-' ~ display_id,
    dom_id ? 'js-view-dom-id-' ~ dom_id,
  ]
%}
<div{{ attributes.addClass(classes) }}>
  {{ title_prefix }}
  {{ title }}
  {{ title_suffix }}
  <div class="zpp__row row row--print-link">
    <div class="zpp__col col">
      <a href="javascript:if(window.print)window.print()"
         class="btn btn-link action__link--print"
         title="{{ 'This opens the browser\'s print options dialog.'|t }}">
        <svg width="32" height="32" class="icon__print" xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" viewBox="0 0 32 32"><path d="M26.1,20.8L25.6,22h-2.5v-2.6H8.8V22H6.4l-0.5-1.1v-8.1l0.5-1.2h19.2l0.5,1.2V20.8z M22.1,26.8H9.8v-6.4h12.3
      V26.8z M9.8,5.2h12.3v5.3H9.8V5.2z M26.2,10.5h-3.1V4.1H8.8v6.3h-3l-0.9,2v8.6L5.8,23h3v4.9h14.3V23h3.1l0.9-1.9v-8.6L26.2,10.5z" /></svg>
        {{ 'Print your selection'|t }}
      </a>
    </div>
  </div>
  {% if header %}
    <header>
      {{ header }}
    </header>
  {% endif %}

  {{ exposed }}
  {{ attachment_before }}

  {% if rows -%}
    {{ rows }}
  {% elseif empty -%}
    {{ empty }}
  {% endif %}
  {{ pager }}

  {{ attachment_after }}
  {{ more }}

  {% if footer %}
    <footer>
      {{ footer }}
    </footer>
  {% endif %}

  {{ feed_icons }}
</div>
