{#
/**
 * @file
 * Default theme implementation to display a two-column layout.
 *
 * Available variables:
 * - content: The content for this layout.
 * - attributes: HTML attributes for the layout <div>.
 *
 * @ingroup themeable
 */
#}
{% if layout_primary_system_font_type == 'serif' or  layout_primary_system_font_type == 'Serif'%}
  {% set fallback_font_family = ', "Hoefler Text", Baskerville, serif' %}
{% elseif layout_primary_system_font_type == 'sans_serif'
  or layout_primary_system_font_type == 'sans-serif'
  or layout_primary_system_font_type == 'sans serif'
  or layout_primary_system_font_type == 'Sans Serif' %}
  {% set fallback_font_family = ', "Franklin Gothic", "Helvetica Neue", HelveticaNeue, sans-serif' %}
{% else %}
  {% set fallback_font_family = ', Consolas, Menlo, Monaco, monospace' %}
{% endif %}

{% if content %}
  {% if layout_primary_system_font|length and layout_id|length %}
    <style type="text/css">
      #{{layout_id}} {
        --fn__serif: '{{ layout_primary_system_font_family }}';
        --ff__serif: '{{ layout_primary_system_font_family }}';
        font-family: var(--ff__serif){{ fallback_font_family|raw }};
      }
    </style>
  {% endif %}

  {% if layout_secondary_system_font|length and layout_id|length %}
    <style type="text/css">
      #{{layout_id}} {
        --fn__sans: '{{ layout_secondary_system_font_family }}';
        --ff__sans: '{{ layout_secondary_system_font_family }}';
        font-family: var(--ff__sans){{ fallback_font_family|raw }};
      }
    </style>
  {% endif %}

  {% if layout_primary_webfont_url|length and layout_id|length %}
    <link rel="stylesheet prefetch" media="screen" href="{{ layout_primary_webfont_url }}">
    <style type="text/css">
      #{{layout_id}} {
        --fn__serif: '{{ layout_primary_webfont_family }}';
        --ff__serif: '{{ layout_primary_webfont_family }}';
        font-family: var(--ff__serif){{ fallback_font_family|raw }};
      }
    </style>
  {% endif %}

  {% if layout_secondary_webfont_url|length and layout_id|length %}
    <link rel="stylesheet prefetch" media="screen" href="{{ layout_secondary_webfont_url }}">
    <style type="text/css">
      #{{layout_id}} {
        --fn__sans: '{{ layout_secondary_webfont_family }}';
        --ff__sans: '{{ layout_secondary_webfont_family }}';
        font-family: var(--ff__sans){{ fallback_font_family|raw }};
      }
    </style>
  {% endif %}

  {% if layout_background_color_override|length and layout_foreground_color_override|length and layout_id|length %}
    <style type="text/css">
      #{{layout_id}} {
        --c__primary--bg: {{ layout_background_color_override }};
        --c__primary--fg: {{ layout_foreground_color_override }};
        background-color: var(--c__primary--bg);
        color: var(--c__primary--fg);
      }
    </style>
  {% endif %}

  <div{{ attributes.addClass('row', 'zpp__row', 'zpp__row--two-column').setAttribute('id', layout_id) }}>
    {% if content.first %}
      <div {{ region_attributes.first.addClass('col', 'zpp__column', 'zpp__column--first') }}>
        {{ content.first }}
      </div>
    {% endif %}

    {% if content.second %}
      <div {{ region_attributes.second.addClass('col', 'zpp__column', 'zpp__column--second') }}>
        {{ content.second }}
      </div>
    {% endif %}
  </div>
{% endif %}
