{#
/**
 * @file
 * Theme override to display a audio block.
 *
 * Available variables:
 * - plugin_id: The ID of the block implementation.
 * - label: The configured label of the block if visible.
 * - configuration: A list of the block's configuration values.
 *   - label: The configured label for the block.
 *   - label_display: The display settings for the label.
 *   - provider: The module or other provider that provided this block plugin.
 *   - Block plugin specific settings will also be stored here.
 * - content: The content of this block.
 * - attributes: array of HTML attributes populated by modules, intended to
 *   be added to the main container tag of this template.
 *   - id: A valid HTML ID and guaranteed unique.
 * - title_attributes: Same as attributes, except applied to the main title
 *   tag that appears in the template.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the main title tag that appears in the template.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the main title tag that appears in the template.
 *
 * @see template_preprocess_block()
 */
#}
{% extends "block.html.twig" %}

{% set cacheBust = content.field_audio|render %}
{% set cacheBust = content.field_image|render %}

{% set attributes = attributes.addClass('zpp-audio', 'zpp-audio--paused') %}

{% block content %}

  {{ content.field_audio }}

  {% block audio__info %}
    {% set audioTitle = content.field_audio|field_target_entity.field_title.value %}
    {% set audioSubTitle = content.field_audio|field_target_entity.field_sub_title.value %}

    <div class="zpp-audio__info">
      {% if audioTitle|length %}
        <span class="zpp-audio__track__title">{{audioTitle}}</span>
      {% endif %}
      {% if audioTitle|length and audioSubTitle|length %}
        <span class="zpp-audio__track__sep"> | </span>
      {% endif %}
      {% if audioSubTitle|length %}
        <span class="zpp-audio__track__author">{{audioSubTitle}}</span>
      {% endif %}
    </div>
  {% endblock %}

  {% block audio__controls %}
    {% set bgImage = file_url(content.field_image|field_target_entity.field_media_image.entity.uri.value) %}
    {% if bgImage != "/" %}
      <div class="zpp-audio__controls" style="background-image: url({{bgImage}})">
    {% else %}
      <div class="zpp-audio__controls">
    {% endif %}
        <div class="zpp-audio__track__elapsed"></div>
        <div class="zpp-audio__track__skip-back">
          <button class="btn btn-link zpp-audio__btn zpp-audio__track__skip-back-icon js-audio-back">
            <svg class="icon__back-15 zpp-audio__track__back-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 54 54"><path class="icon__fill" d="M27 34.5c-4.1 0-7.5-3.4-7.5-7.5h1c0 3.6 2.9 6.5 6.5 6.5s6.5-2.9 6.5-6.5-2.9-6.5-6.5-6.5v-1c4.1 0 7.5 3.4 7.5 7.5s-3.4 7.5-7.5 7.5z" /><text class="icon__text"  transform="translate(15 24.23)" font-size="8">.15</text></svg>
            <span class="sr-only">{{ 'Skip Backward'|t }}</span>
          </button>
        </div>
        <div class="zpp-audio__track__playpause">
          <button class="btn btn-link zpp-audio__btn zpp-audio__track__control-icon js-audio-control">
            <svg class="icon__play zpp-audio__track__play-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 54 54"><path class="icon__fill" d="M18.1 39.7L18 14l20.8 14.6-20.7 11.1zM20 17.9v18.5l15-8-15-10.5z"/></svg>
            <svg class="icon__pause zpp-audio__track__pause-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 54 54"><path class="icon__fill" d="M21 15.5h2.5v23H21zM30.5 15.5H33v23h-2.5z"/></svg>
            <span class="sr-only">{{ 'Play/Pause'|t }}</span>
          </button>
        </div>
        <div class="zpp-audio__track__skip-forward">
          <button class="btn btn-link zpp-audio__btn zpp-audio__track__skip-forward-icon js-audio-forward">
            <svg class="icon__forward-30 zpp-audio__track__forward-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 54 54"><text class="icon__text" transform="translate(28.676 35.617)" class="st0" font-size="8">.30</text><path class="icon__fill" d="M27 34.5c-4.1 0-7.5-3.4-7.5-7.5s3.4-7.5 7.5-7.5 7.5 3.4 7.5 7.5h-1c0-3.6-2.9-6.5-6.5-6.5s-6.5 2.9-6.5 6.5 2.9 6.5 6.5 6.5v1z"/></svg>
            <span class="sr-only">{{ 'Skip Forward'|t }}</span>
          </button>
        </div>
        <div class="zpp-audio__track__length"></div>
        <div class="zpp-audio__track__progress">
          <div class="zpp-audio__track__progress__bar"></div>
        </div>
      </div>
  {% endblock %}
{% endblock %}
