{#
/**
 * @file
 * Theme override to display a video with no controls block.
 *
 * Available variables:
 * - plugin_id: The ID of the block implementation.
 * - label: The configured label of the block if visible.
 * - configuration: A list of the block's configuration values.
 *   - label: The configured label for the block.
 *   - label_display: The display settings for the label.
 *   - provider: The module or other provider that provided this block plugin.
 *   - Block plugin specific settings will also be stored here.
 * - content: The content of this block.
 * - attributes: array of HTML attributes populated by modules, intended to
 *   be added to the main container tag of this template.
 *   - id: A valid HTML ID and guaranteed unique.
 * - title_attributes: Same as attributes, except applied to the main title
 *   tag that appears in the template.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the main title tag that appears in the template.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the main title tag that appears in the template.
 *
 * @see template_preprocess_block()
 */
#}
{% set cacheBust = content.field_video|render %}

{%
  set classes = [
    'zpp__component',
    'zpp__component--' ~ configuration.provider|clean_class,
    'zpp__component--' ~ plugin_id|replace({':': '_'})|clean_class,
    'zpp-video',
  ]
%}
<div{{ attributes.addClass(classes) }}>
  {% include '@ziggurat_publications/block/block-title-include.html.twig' %}
  {% block content %}
    <div class="zpp-video__inner">
      {{ content.field_video }}

      {% set posterFileURL = file_url(content.field_video|field_target_entity.field_media_image.entity.uri.value) %}
      {% if posterFileURL != "/" %}
        <div class="zpp-video__poster" data-poster-src="{{posterFileURL}}"></div>
      {% endif %}
    </div>
  {% endblock %}
</div>
