{#
/**
 * @file
 * Theme override to display the Citation link.
 *
 * Available variables:
 * - plugin_id: The ID of the block implementation.
 * - label: The configured label of the block if visible.
 * - configuration: A list of the block's configuration values.
 *   - label: The configured label for the block.
 *   - label_display: The display settings for the label.
 *   - provider: The module or other provider that provided this block plugin.
 *   - Block plugin specific settings will also be stored here.
 * - content: The content of this block.
 * - attributes: array of HTML attributes populated by modules, intended to
 *   be added to the main container tag of this template.
 *   - id: A valid HTML ID and guaranteed unique.
 * - title_attributes: Same as attributes, except applied to the main title
 *   tag that appears in the template.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the main title tag that appears in the template.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the main title tag that appears in the template.
 *
 * @see template_preprocess_block()
 */
#}
{% extends "block.html.twig" %}

{% set cacheBust = content|render %}

{% set attributes = attributes.addClass('zpp__citation-anchor') %}

{% block content %}
  {# Custom markup for the citation in-page link #}
  <a href="#views-block-citations-block-1"
     class="btn btn-link action__link--citation"
     title="{{ 'Jump to in-page instructions on how to cite this publication chapter.'|t }}">
    <span class="sr-only">{{ 'Citation'|t }}</span>
    <svg width="32" height="32" class="icon__citation" xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" viewBox="0 0 32 32"><path d="M24.5 15.1L24.5 16.1 27 16.1 27 27 5.1 27 5.1 16.1 7.5 16.1 7.5 15.1 4 15.1 4 28 28 28 28 15.1z"/><path class="st0" d="M21.4,12.7v0.5h-3V24h-4.6V13.3h-3.1v-0.5L16,4.9L21.4,12.7z M15.5,4l-5.8,8.4l0,0h0v1.8h3.1V25h6.5V14.2h3 h0.1v-1.8h0l0,0L16.5,4l0,0v0H15.5z"/></svg>
  </a>
{% endblock %}
