{#
/**
 * @file
 * Custom block title include file.
 */
#}
{{ title_prefix }}
{% if label %}
  <h2{{ title_attributes }}>
    <span class="h5">{{ label }}</span>
  </h2>
{% endif %}
{{ title_suffix }}
