{#
/**
 * @file
 * Theme override to display the Print window link that is a fieldable block.
 *
 * Available variables:
 * - plugin_id: The ID of the block implementation.
 * - label: The configured label of the block if visible.
 * - configuration: A list of the block's configuration values.
 *   - label: The configured label for the block.
 *   - label_display: The display settings for the label.
 *   - provider: The module or other provider that provided this block plugin.
 *   - Block plugin specific settings will also be stored here.
 * - content: The content of this block.
 * - attributes: array of HTML attributes populated by modules, intended to
 *   be added to the main container tag of this template.
 *   - id: A valid HTML ID and guaranteed unique.
 * - title_attributes: Same as attributes, except applied to the main title
 *   tag that appears in the template.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the main title tag that appears in the template.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the main title tag that appears in the template.
 *
 * @see template_preprocess_block()
 */
#}
{% extends "block.html.twig" %}

{% set cacheBust = content|render %}

{% set attributes = attributes.addClass('zpp__print') %}

{% block content %}
  {# Custom markup for the print page link #}
  <a href="javascript:if(window.print)window.print()"
     class="btn btn-link action__link--print"
     title="{{ 'This opens the browser\'s print options dialog.'|t }}">
    <span class="sr-only">{{ 'Print'|t }}</span>
    <svg width="32" height="32" class="icon__print" xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" viewBox="0 0 32 32"><path d="M26.1,20.8L25.6,22h-2.5v-2.6H8.8V22H6.4l-0.5-1.1v-8.1l0.5-1.2h19.2l0.5,1.2V20.8z M22.1,26.8H9.8v-6.4h12.3
	V26.8z M9.8,5.2h12.3v5.3H9.8V5.2z M26.2,10.5h-3.1V4.1H8.8v6.3h-3l-0.9,2v8.6L5.8,23h3v4.9h14.3V23h3.1l0.9-1.9v-8.6L26.2,10.5z" /></svg>
  </a>
{% endblock %}
