{#
/**
 * @file
 * Theme override to display the shareable URL link that is a fieldable block.
 *
 * Available variables:
 * - plugin_id: The ID of the block implementation.
 * - label: The configured label of the block if visible.
 * - configuration: A list of the block's configuration values.
 *   - label: The configured label for the block.
 *   - label_display: The display settings for the label.
 *   - provider: The module or other provider that provided this block plugin.
 *   - Block plugin specific settings will also be stored here.
 * - content: The content of this block.
 * - attributes: array of HTML attributes populated by modules, intended to
 *   be added to the main container tag of this template.
 *   - id: A valid HTML ID and guaranteed unique.
 * - title_attributes: Same as attributes, except applied to the main title
 *   tag that appears in the template.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the main title tag that appears in the template.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the main title tag that appears in the template.
 *
 * @see template_preprocess_block()
 */
#}
{% extends "block.html.twig" %}

{% set cacheBust = content|render %}

{% set attributes = attributes.addClass('zpp__share') %}

{% block content %}
  {# Custom markup for the shareable URL link #}
  {% set currentPath = url('<current>') %}
  <button class="btn btn-link text-left js-copy-clipboard"
          data-clipboard-text="{{ currentPath }}"
          aria-describedby="clipboard-describedby"
          title="{{ 'Copied!'|t }}">
    {{ currentPath }}
  </button>
  <p id="clipboard-describedby" class="sr-only">{{ 'Copy this page\'s URL to your clipboard.'|t }}</p>
{% endblock %}
