{#
/**
 * @file
 * Custom block modal include file.
 *
 * In this file we are using a render array for the caption field because the
 * HTML markup was displaying as plain text. This fixes that.
 */
#}
{% set cacheBust = content.field_image|render %}
{% set cacheBust = content.field_video|render %}
{% if content.field_image|length %}
  {% set caption = content.field_image|field_target_entity.field_caption.value %}
{% elseif content.field_video|length %}
  {% set caption = content.field_video|field_target_entity.field_caption.value %}
{% endif %}
{% set text_format = 'basic_html' %}

<div class="modal fade" id="{{ modalId }}" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content container">
      <div class="modal-body zpp__modal-body row">
        <div class="zpp__modal-body--close col">
          <button type="button" class="close modal__icon modal__icon--close" data-dismiss="modal" aria-label="{{ 'Close'|t }}">
            <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" viewBox="0 0 48 48"><path fill="#010101" d="M47.3 1.3L46.7 0.7 24 23.5 1.3 0.7 0.7 1.3 23.5 24 0.7 46.7 1.3 47.3 24 24.5 46.7 47.3 47.3 46.7 24.5 24z"/></svg>
          </button>
        </div>
        <div class="zpp__modal-body--media col">
          {{ content }}
        </div>
        <div class="zpp__modal-body--caption col">
          <div class="inner h-100">
            {% if caption|length %}
              {{ {'#type': 'processed_text', '#text': caption, '#format': text_format } }}
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
