{#
/**
 * @file
 * Theme override to display a video with controls block.
 *
 * Available variables:
 * - plugin_id: The ID of the block implementation.
 * - label: The configured label of the block if visible.
 * - configuration: A list of the block's configuration values.
 *   - label: The configured label for the block.
 *   - label_display: The display settings for the label.
 *   - provider: The module or other provider that provided this block plugin.
 *   - Block plugin specific settings will also be stored here.
 * - content: The content of this block.
 * - attributes: array of HTML attributes populated by modules, intended to
 *   be added to the main container tag of this template.
 *   - id: A valid HTML ID and guaranteed unique.
 * - title_attributes: Same as attributes, except applied to the main title
 *   tag that appears in the template.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the main title tag that appears in the template.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the main title tag that appears in the template.
 *
 * @see template_preprocess_block()
 */
#}
{% set cacheBust = content.field_video|render %}
{% set cacheBust = content.field_title|render %}
{% set cacheBust = content.field_sub_title|render %}

{%
  set classes = [
    'zpp__component',
    'zpp__component--' ~ configuration.provider|clean_class,
    'zpp__component--' ~ plugin_id|replace({':': '_'})|clean_class,
    'zpp-video',
    'zpp-video--static',
  ]
%}
{% set modalId = 'modal-id-' ~ id %}

<div{{ attributes.addClass(classes) }}>
  {% include '@ziggurat_publications/block/block-title-include.html.twig' %}
  {% block content %}
    {% if attributes.hasClass('zpp__modal--on') %}
      {% set modalIdTarget = '#' ~ modalId %}

      <div class="zpp-video__inner" data-toggle="modal" data-target="{{ modalIdTarget }}">
    {% else %}
      <div class="zpp-video__inner">
    {% endif %}
      {{ content.field_video }}

      {% set posterFileURL = file_url(content.field_video|field_target_entity.field_media_image.entity.uri.value) %}
      {% if posterFileURL != "/" %}
        <div class="zpp-video__poster" data-poster-src="{{posterFileURL}}"></div>
      {% endif %}

      <div class="zpp-video__initial">
        <button class="btn btn-link zpp-video__initial__btn zpp-video__track__play">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 144 144"><path class="icon__fill" d="M23.4 140.4L23.2 3.2l111 77.8-110.8 59.4zM26.2 9l.2 126.5 102.1-54.8L26.2 9z" /></svg>
        </button>
      </div>
      <div class="zpp-video__controls">
        <div class="zpp-video__track__progress">
          <div class="zpp-video__track__progress__bar"></div>
        </div>
        <div class="zpp-video__track__playpause">
          <button class="btn btn-link zpp-video__controls__btn zpp-video__track__control-icon js-video-control">
            <svg class="icon__play zpp-video__track__play-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 54 54"><path class="icon__fill" d="M18.1 39.7L18 14l20.8 14.6-20.7 11.1zM20 17.9v18.5l15-8-15-10.5z"/></svg>
            <svg class="icon__pause zpp-video__track__pause-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 54 54"><path class="icon__fill" d="M21 15.5h2.5v23H21zM30.5 15.5H33v23h-2.5z"/></svg>
          </button>
        </div>
        <div class="zpp-video__track__title">
          {% set videoTitle = content.field_video|field_target_entity.field_title.value %}
          {% set videoSubTitle = content.field_video|field_target_entity.field_sub_title.value %}
          {% if videoTitle|length %}
            <span class="zpp-video__track__title">{{videoTitle}}</span>
          {% endif %}
          {% if videoSubTitle|length %}
            <span class="zpp-video__track__subtitle"> {{videoSubTitle}}</span>
          {% endif %}
        </div>
        <div class="zpp-video__track__duration"></div>
        {# This is a placeholder for a future feature
        <div class="zpp-video__track__cc">
          <button class="btn btn-link zpp-video__controls__btn zpp-video__track__cc-icon js-cc-control">
            <svg class="icon__cc" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 54 54"><text transform="translate(20.04 31)" font-size="12">CC</text></svg>
          </button>
        </div>
        #}
        <div class="zpp-video__track__fs">
          <button class="btn btn-link zpp-video__controls__btn zpp-video__track__fs-icon js-fs-control">
            <svg class="icon__fs" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 54 54"><path class="icon__full" d="M15 26.6l-4-15.1 15.3 1.7-.2 1.9-12.6-1.4 3.4 12.4zM43 42.5l-15.3-1.7.2-1.9 12.6 1.4-3.4-12.4 1.9-.5z"/></svg>
          </button>
        </div>
      </div>
    </div>
  {% endblock %}
</div>
{% if attributes.hasClass('zpp__modal--on') %}
  {% include '@ziggurat_publications/block/block-modal-include.html.twig' %}
{% endif %}
