{#
/**
 * @file
 * Theme override to display the Color Palette.
 *
 * Available variables:
 * - node: The node entity with limited access to object properties and methods.
 *   Only method names starting with "get", "has", or "is" and a few common
 *   methods such as "id", "label", and "bundle" are available. For example:
 *   - node.getCreatedTime() will return the node creation timestamp.
 *   - node.hasField('field_example') returns TRUE if the node bundle includes
 *     field_example. (This does not indicate the presence of a value in this
 *     field.)
 *   - node.isPublished() will return whether the node is published or not.
 *   Calling other methods, such as node.delete(), will result in an exception.
 *   See \Drupal\node\Entity\Node for a full list of public properties and
 *   methods for the node object.
 * - label: The title of the node.
 * - content: All node items. Use {{ content }} to print them all,
 *   or print a subset such as {{ content.field_example }}. Use
 *   {{ content|without('field_example') }} to temporarily suppress the printing
 *   of a given child element.
 * - author_picture: The node author user entity, rendered using the "compact"
 *   view mode.
 * - metadata: Metadata for this node.
 * - date: Themed creation date field.
 * - author_name: Themed author name field.
 * - url: Direct URL of the current node.
 * - display_submitted: Whether submission information should be displayed.
 * - attributes: HTML attributes for the containing element.
 *   The attributes.class element may contain one or more of the following
 *   classes:
 *   - node: The current template type (also known as a "theming hook").
 *   - node--type-[type]: The current node type. For example, if the node is an
 *     "Article" it would result in "node--type-article". Note that the machine
 *     name will often be in a short form of the human readable label.
 *   - node--view-mode-[view_mode]: The View Mode of the node; for example, a
 *     teaser would result in: "node--view-mode-teaser", and
 *     full: "node--view-mode-full".
 *   The following are controlled through the node publishing options.
 *   - node--promoted: Appears on nodes promoted to the front page.
 *   - node--sticky: Appears on nodes ordered above other non-sticky nodes in
 *     teaser listings.
 *   - node--unpublished: Appears on unpublished nodes visible only to site
 *     admins.
 * - title_attributes: Same as attributes, except applied to the main title
 *   tag that appears in the template.
 * - content_attributes: Same as attributes, except applied to the main
 *   content tag that appears in the template.
 * - author_attributes: Same as attributes, except applied to the author of
 *   the node tag that appears in the template.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the main title tag that appears in the template.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the main title tag that appears in the template.
 * - view_mode: View mode; for example, "teaser" or "full".
 * - teaser: Flag for the teaser state. Will be true if view_mode is 'teaser'.
 * - page: Flag for the full page state. Will be true if view_mode is 'full'.
 * - readmore: Flag for more state. Will be true if the teaser content of the
 *   node cannot hold the main body content.
 * - logged_in: Flag for authenticated user status. Will be true when the
 *   current user is a logged-in member.
 * - is_admin: Flag for admin user status. Will be true when the current user
 *   is an administrator.
 *
 * @see template_preprocess_node()
 *
 * @todo Remove the id attribute (or make it a class), because if that gets
 *   rendered twice on a page this is invalid CSS for example: two lists
 *   in different view modes.
 */
#}
{% set cacheBust = content|render %}

<article{{ attributes }}>

  {{ title_prefix }}
  {% if not page %}
    <h2{{ title_attributes }}>
      <a href="{{ url }}" rel="bookmark">{{ label }}</a>
    </h2>
  {% endif %}
  {{ title_suffix }}

  {% if display_submitted %}
    <footer>
      {{ author_picture }}
      <div{{ author_attributes }}>
        {% trans %}Submitted by {{ author_name }} on {{ date }}{% endtrans %}
        {{ metadata }}
      </div>
    </footer>
  {% endif %}

  <div>
    <div class="zpp__bg-color--primary p-3">
      <h2>{{ 'Fallback Primary Color'|t }}</h2>
      {{ content.field_color_primary_fallback }}
      <h2>{{ 'Custom Primary Color'|t }}</h2>
      <h3><a href="#">{{ 'Sample Link'|t }}</a></h3>
      {{ content.field_color_primary_background }}
      {{ content.field_color_primary_foreground }}
      {{ content.field_color_primary_link }}
      {{ content.field_color_primary_hover }}
      {{ content.field_color_primary_focus }}
    </div>
    <div class="zpp__bg-color--color-one p-3">
      <h2>{{ 'Fallback Color One'|t }}</h2>
      {{ content.field_color_one_fallback }}
      <h2>{{ 'Custom Color One'|t }}</h2>
      <h3><a href="#">{{ 'Sample Link'|t }}</a></h3>
      {{ content.field_color_one_background }}
      {{ content.field_color_one_foreground }}
      {{ content.field_color_one_link }}
      {{ content.field_color_one_hover }}
      {{ content.field_color_one_focus }}
    </div>
    <div class="zpp__bg-color--color-two p-3">
      <h2>{{ 'Fallback Color Two'|t }}</h2>
      {{ content.field_color_two_fallback }}
      <h2>{{ 'Custom Color Two'|t }}</h2>
      <h3><a href="#">{{ 'Sample Link'|t }}</a></h3>
      {{ content.field_color_two_background }}
      {{ content.field_color_two_foreground }}
      {{ content.field_color_two_link }}
      {{ content.field_color_two_hover }}
      {{ content.field_color_two_focus }}
    </div>
    <div class="zpp__bg-color--color-three p-3">
      <h2>{{ 'Fallback Color Three'|t }}</h2>
      {{ content.field_color_three_fallback }}
      <h2>{{ 'Custom Color Three'|t }}</h2>
      <h3><a href="#">{{ 'Sample Link'|t }}</a></h3>
      {{ content.field_color_three_background }}
      {{ content.field_color_three_foreground }}
      {{ content.field_color_three_link }}
      {{ content.field_color_three_hover }}
      {{ content.field_color_three_focus }}
    </div>
    <div class="zpp__bg-color--color-four p-3">
      <h2>{{ 'Fallback Color Four'|t }}</h2>
      {{ content.field_color_four_fallback }}
      <h2>{{ 'Custom Color Four'|t }}</h2>
      <h3><a href="#">{{ 'Sample Link'|t }}</a></h3>
      {{ content.field_color_four_background }}
      {{ content.field_color_four_foreground }}
      {{ content.field_color_four_link }}
      {{ content.field_color_four_hover }}
      {{ content.field_color_four_focus }}
    </div>
    <div class="zpp__bg-color--color-five p-3">
      <h2>{{ 'Fallback Color Five'|t }}</h2>
      {{ content.field_color_five_fallback }}
      <h2>{{ 'Custom Color Five'|t }}</h2>
      <h3><a href="#">{{ 'Sample Link'|t }}</a></h3>
      {{ content.field_color_five_background }}
      {{ content.field_color_five_foreground }}
      {{ content.field_color_five_link }}
      {{ content.field_color_five_hover }}
      {{ content.field_color_five_focus }}
    </div>
    <div class="zpp__bg-color--color-six p-3">
      <h2>{{ 'Fallback Color Six'|t }}</h2>
      {{ content.field_color_six_fallback }}
      <h2>{{ 'Custom Color Six'|t }}</h2>
      <h3><a href="#">{{ 'Sample Link'|t }}</a></h3>
      {{ content.field_color_six_background }}
      {{ content.field_color_six_foreground }}
      {{ content.field_color_six_link }}
      {{ content.field_color_six_hover }}
      {{ content.field_color_six_focus }}
    </div>
    <div class="zpp__bg-color--color-seven p-3">
      <h2>{{ 'Fallback Color Seven'|t }}</h2>
      {{ content.field_color_seven_fallback }}
      <h2>{{ 'Custom Color Seven'|t }}</h2>
      <h3><a href="#">{{ 'Sample Link'|t }}</a></h3>
      {{ content.field_color_seven_background }}
      {{ content.field_color_seven_foreground }}
      {{ content.field_color_seven_link }}
      {{ content.field_color_seven_hover }}
      {{ content.field_color_seven_focus }}
    </div>
    <div class="zpp__bg-color--color-eight p-3">
      <h2>{{ 'Fallback Color Eight'|t }}</h2>
      {{ content.field_color_eight_fallback }}
      <h2>{{ 'Custom Color Eight'|t }}</h2>
      <h3><a href="#">{{ 'Sample Link'|t }}</a></h3>
      {{ content.field_color_eight_background }}
      {{ content.field_color_eight_foreground }}
      {{ content.field_color_eight_link }}
      {{ content.field_color_eight_hover }}
      {{ content.field_color_eight_focus }}
    </div>
    <div class="zpp__bg-color--color-nine p-3">
      <h2>{{ 'Fallback Color Nine'|t }}</h2>
      {{ content.field_color_nine_fallback }}
      <h2>{{ 'Custom Color Nine'|t }}</h2>
      <h3><a href="#">{{ 'Sample Link'|t }}</a></h3>
      {{ content.field_color_nine_background }}
      {{ content.field_color_nine_foreground }}
      {{ content.field_color_nine_link }}
      {{ content.field_color_nine_hover }}
      {{ content.field_color_nine_focus }}
    </div>
    <div class="zpp__bg-color--color-ten p-3">
      <h2>{{ 'Fallback Color Ten'|t }}</h2>
      {{ content.field_color_ten_fallback }}
      <h2>{{ 'Custom Color Ten'|t }}</h2>
      <h3><a href="#">{{ 'Sample Link'|t }}</a></h3>
      {{ content.field_color_ten_background }}
      {{ content.field_color_ten_foreground }}
      {{ content.field_color_ten_link }}
      {{ content.field_color_ten_hover }}
      {{ content.field_color_ten_focus }}
    </div>
  </div>
</article>
